@using DoctorManagement.ViewModels.Catalog.MasterData
@{
    var information = (InformationVm)ViewBag.Information;
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
<style>
.ant-collapse-borderless>.ant-collapse-item {
    border-bottom: none;
}
</style>
<app-footer _ngcontent-serverapp-c55="" _nghost-serverapp-c54="">
  <footer _ngcontent-serverapp-c54="" id="colophon" role="contentinfo"
      class="relative site-footer bg-gray-50 py-3">
      <div _ngcontent-serverapp-c54=""
          class="max-w-7xl mx-auto text-gray-800 md:grid md:grid-cols-12 md:pt-10">
            <div _ngcontent-serverapp-c54="" class="px-4 py-6 text-sm col-span-12 md:col-span-4 space-y-2">
                <img _ngcontent-serverapp-c54="" width="177" height="60" loading="lazy"src="@(Configuration["BaseAddress"] + "/img/" + information.Image)" alt="DoctorMed">
                <p _ngcontent-serverapp-c54="" class="font-medium">@information.Company</p>
                <p _ngcontent-serverapp-c54=""><strong _ngcontent-serverapp-c54="">VPĐD:</strong> @information.FullAddress</p>
                <p _ngcontent-serverapp-c54="">
                    <strong _ngcontent-serverapp-c54="">Hotline:</strong>
                    <a _ngcontent-serverapp-c54="" href="tel:@information.Hotline"
                    class="font-medium hover:underline">@information.Hotline</a> 
                    | @information.TimeWorking 
                </p>
            </div>
           
          <nz-collapse _ngcontent-serverapp-c54="" nzexpandiconposition="right"
              class="ant-collapse mx-4 md:mx-0 border-b md:border-0 col-span-12 md:col-span-2 ant-collapse-icon-position-right ant-collapse-borderless">
              <nz-collapse-panel _ngcontent-serverapp-c54=""
                  class="ant-collapse-item cursor-pointer md:cursor-auto py-6 text-sm font-semibold ng-tns-c53-30 ant-collapse-no-arrow ant-collapse-item-active ant-collapse-item-disabled ng-star-inserted">
                  <div role="button" class="ant-collapse-header ng-tns-c53-30" aria-expanded="true">
                      Về DoctorMed
                      
                      
                      <div class="ant-collapse-extra ng-tns-c53-30 ng-star-inserted"><svg
                              _ngcontent-serverApp-c54="" viewBox="0 0 20 20" fill="currentColor"
                              class="collapse-control h-5 w-5 text-gray-500 transition md:hidden rotate-180 ng-star-inserted">
                              <path _ngcontent-serverApp-c54="" fill-rule="evenodd"
                                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                  clip-rule="evenodd"></path>
                          </svg>
                          
                      </div>
                      
                  </div>
                  <div
                      class="ant-collapse-content ng-tns-c53-30 ant-collapse-content-active ng-trigger ng-trigger-collapseMotion">
                      <div class="ant-collapse-content-box ng-tns-c53-30">
                          <ul _ngcontent-serverapp-c54="" id="footer-1"
                              class="collapse list-none p-0 md:block text-sm space-y-2 mb-4 text-gray-600 transition-all ng-tns-c53-30">
                             @* <li _ngcontent-serverapp-c54="" class="hover:underline"><a
                                      _ngcontent-serverapp-c54="" target="_blank" class="text-sm-w400"
                                      href="https://DoctorMed.vn/gioi-thieu-ve-DoctorMed">Giới thiệu về
                                      DoctorMed</a></li>
                              <li _ngcontent-serverapp-c54="" class="hover:underline"><a
                                      _ngcontent-serverapp-c54="" target="_blank" class="text-sm-w400"
                                      href="https://DoctorMed.vn/tin-tuc/ban-dieu-hanh-DoctorMed">Ban điều
                                      hành</a></li>
                              <li _ngcontent-serverapp-c54="" class="hover:underline"><a
                                      _ngcontent-serverapp-c54="" target="_blank" class="text-sm-w400"
                                      href="https://DoctorMed.vn/nhan-su-tuyen-dung"> Nhân sự &amp; Tuyển
                                      dụng</a></li>*@
                              <li _ngcontent-serverapp-c54="" class="hover:underline"><a
                                      _ngcontent-serverapp-c54="" class="text-sm-w400"  asp-action="Contact" asp-controller="Home"> Liên hệ</a></li>
                          </ul>
                      </div>
                  </div>
              </nz-collapse-panel>
          </nz-collapse>
          
          <nz-collapse _ngcontent-serverapp-c54="" nzexpandiconposition="right"
              class="ant-collapse mx-4 md:mx-0 border-b md:border-0 col-span-12 md:col-span-3 ant-collapse-icon-position-right ant-collapse-borderless">
              <nz-collapse-panel _ngcontent-serverapp-c54=""
                  class="ant-collapse-item cursor-pointer md:cursor-auto py-6 text-sm font-semibold ng-tns-c53-31 ant-collapse-no-arrow ant-collapse-item-active ant-collapse-item-disabled ng-star-inserted">
                  <div role="button" class="ant-collapse-header ng-tns-c53-31" aria-expanded="true">
                      Dịch vụ
                      
                      
                      <div class="ant-collapse-extra ng-tns-c53-31 ng-star-inserted"><svg
                              _ngcontent-serverApp-c54="" viewBox="0 0 20 20" fill="currentColor"
                              class="collapse-control h-5 w-5 text-gray-500 transition md:hidden rotate-180 ng-star-inserted">
                              <path _ngcontent-serverApp-c54="" fill-rule="evenodd"
                                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                  clip-rule="evenodd"></path>
                          </svg>
                          
                      </div>
                      
                  </div>
                  <div
                      class="ant-collapse-content ng-tns-c53-31 ant-collapse-content-active ng-trigger ng-trigger-collapseMotion">
                      <div class="ant-collapse-content-box ng-tns-c53-31">
                          <ul _ngcontent-serverapp-c54=""
                              class="list-none text-sm p-0 space-y-2 mb-4 text-gray-600 transition-all ng-tns-c53-31">
                              <li _ngcontent-serverapp-c54="" class="hover:underline"><a
                                      _ngcontent-serverapp-c54="" class="text-sm-w400" asp-action="Doctor"> Đặt
                                      khám Bác sĩ</a></li>
                              @*<li _ngcontent-serverapp-c54="" class="hover:underline"><a
                                      _ngcontent-serverapp-c54="" class="text-sm-w400" href="/bac-si"> Đặt
                                      khám Bệnh viện</a></li>*@
                              <li _ngcontent-serverapp-c54="" class="hover:underline"><a
                                      _ngcontent-serverapp-c54="" class="text-sm-w400" asp-action="Clinic"> Đặt
                                      khám Phòng khám</a></li>
                              @*<li _ngcontent-serverapp-c54="" class="hover:underline"><a
                                      _ngcontent-serverapp-c54="" target="_blank" class="text-sm-w400"
                                      href="https://DoctorMed.vn"> DoctorMed Store</a></li>
                              <li _ngcontent-serverapp-c54="" class="hover:underline"><a
                                      _ngcontent-serverapp-c54="" target="_blank" class="text-sm-w400"
                                      href="https://y360.vn">Y360</a></li>*@
                          </ul>
                      </div>
                  </div>
              </nz-collapse-panel>
          </nz-collapse>
          
          <nz-collapse _ngcontent-serverapp-c54="" nzexpandiconposition="right"
              class="ant-collapse mx-4 md:mx-0 border-b md:border-0 col-span-12 md:col-span-3 ant-collapse-icon-position-right ant-collapse-borderless">
              <nz-collapse-panel _ngcontent-serverapp-c54="" nzheader="Hỗ trợ"
                  class="ant-collapse-item cursor-pointer md:cursor-auto py-6 text-sm font-semibold ng-tns-c53-32 ant-collapse-no-arrow ant-collapse-item-active ant-collapse-item-disabled ng-star-inserted">
                  <div role="button" class="ant-collapse-header ng-tns-c53-32" aria-expanded="true">
                      Hỗ trợ
                      
                      
                      <div class="ant-collapse-extra ng-tns-c53-32 ng-star-inserted"><svg
                              _ngcontent-serverApp-c54="" viewBox="0 0 20 20" fill="currentColor"
                              class="collapse-control h-5 w-5 text-gray-500 transition md:hidden rotate-180 ng-star-inserted">
                              <path _ngcontent-serverApp-c54="" fill-rule="evenodd"
                                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                  clip-rule="evenodd"></path>
                          </svg>
                          
                      </div>
                      
                  </div>
                  <div
                      class="ant-collapse-content ng-tns-c53-32 ant-collapse-content-active ng-trigger ng-trigger-collapseMotion">
                      <div class="ant-collapse-content-box ng-tns-c53-32">
                          <ul _ngcontent-serverapp-c54="" id="footer-3"
                              class="text-sm space-y-2 mb-4 text-gray-600 transition-all collapse ng-tns-c53-32">
                            @*  <li _ngcontent-serverapp-c54="" class="hover:underline"><a
                                      _ngcontent-serverapp-c54="" target="_blank" class="text-sm-w400"
                                      href="https://DoctorMed.vn/faqs/faq">Câu hỏi thường gặp</a></li>
                              <li _ngcontent-serverapp-c54="" class="hover:underline"><a
                                      _ngcontent-serverapp-c54="" target="_blank" class="text-sm-w400"
                                      href="https://DoctorMed.vn/dieu-khoan-su-dung">Điều khoản sử dụng</a>
                              </li>
                              <li _ngcontent-serverapp-c54="" class="hover:underline"><a
                                      _ngcontent-serverapp-c54="" target="_blank" class="text-sm-w400"
                                      href="https://DoctorMed.vn/chinh-sach-bao-mat">Chính sách bảo mật</a>
                              </li>
                              <li _ngcontent-serverapp-c54="" class="hover:underline"><a
                                      _ngcontent-serverapp-c54="" target="_blank" class="text-sm-w400"
                                      href="https://DoctorMed.vn/quy-trinh-tiep-nhan-va-giai-quyet-khieu-nai-cua-khach-hang">Chính
                                      sách giải quyết khiếu nại</a></li>*@
                              <li _ngcontent-serverapp-c54="" class="text-sm-w400">Hỗ trợ khách hàng: <a
                                      _ngcontent-serverapp-c54="" href="mailto:@information.Email"
                                      class="hover:underline text-sm-w400">@information.Email.Split("@")[0]</a></li>
                          </ul>
                      </div>
                  </div>
              </nz-collapse-panel>
          </nz-collapse>
          
          <div _ngcontent-serverapp-c54=""
              class="p-6 md:px-4 md:py-0 text-sm col-span-12 md:col-span-4 space-y-2">
              <div _ngcontent-serverapp-c54=""
                  class="flex justify-center md:justify-start items-center text-sm font-semibold"> Kết nối
                  với chúng tôi </div>
              <ul _ngcontent-serverapp-c54=""
                  class="flex space-x-3 items-center justify-center md:justify-start">
                  <li _ngcontent-serverapp-c54=""><a _ngcontent-serverapp-c54="" target="_blank"
                          href="https://www.facebook.com/quannguyen.itpro"><img _ngcontent-serverapp-c54=""
                              src="~/img/booking/svg/facebook.svg" width="24" height="24"
                              loading="lazy" alt="Facebook"></a></li>
                  <li _ngcontent-serverapp-c54=""><a _ngcontent-serverapp-c54="" target="_blank"
                          href="https://www.youtube.com/channel/UCCJlnOLUOjUq653EaZVqDgg"><img
                              _ngcontent-serverapp-c54="" src="~/img/booking/svg/youtube.svg"
                              width="24" height="24" loading="lazy" alt="YouTube"></a></li>
                  <li _ngcontent-serverapp-c54=""><a _ngcontent-serverapp-c54="" target="_blank"
                          href="https://www.linkedin.com/in/qu%C3%A2n-nguy%E1%BB%85n-463b82240/"><img _ngcontent-serverapp-c54=""
                              src="~/img/booking/svg/linkedin.svg" width="24" height="24"
                              loading="lazy" alt="Linkedin"></a></li>
                  <li _ngcontent-serverapp-c54=""><a _ngcontent-serverapp-c54="" target="_blank"
                          href="https://zalo.me/0373951042"><img _ngcontent-serverapp-c54=""
                              src="~/img/booking/svg/zalo.svg" width="36" height="16"
                              loading="lazy" alt="Zalo"></a></li>
              </ul>
          </div>
         @* <div _ngcontent-serverapp-c54="" class="col-span-12 md:hidden flex items-center">
              <div _ngcontent-serverapp-c54=""
                  class="relative flex items-center ring-1 ring-slate-900/10 bg-white rounded shadow-sm py-2 pl-2 pr-6 mx-auto focus:ring-2 focus:ring-primary focus:border-primary">
                  <img _ngcontent-serverapp-c54="" width="18" height="18" loading="lazy"
                      src="~/img/booking/svg/region.svg" alt="Tiếng Việt"><span
                      _ngcontent-serverapp-c54="" class="capitalize tabular-nums ml-2 text-sm"> Tiếng Việt
                  </span><span _ngcontent-serverapp-c54=""
                      class="ml-3 absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none"><svg
                          _ngcontent-serverApp-c54="" x-description="Heroicon name: solid/selector"
                          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                          aria-hidden="true" class="h-4 w-4 text-gray-400">
                          <path _ngcontent-serverApp-c54="" fill-rule="evenodd"
                              d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                              clip-rule="evenodd"></path>
                      </svg></span><select _ngcontent-serverapp-c54="" name="footer-language"
                      id="footer-language"
                      class="absolute appearance-none inset-0 w-full h-full opacity-0">
                      <option _ngcontent-serverapp-c54="" value="vi" class="ng-star-inserted">Việt Nam
                      </option>
                      <option _ngcontent-serverapp-c54="" value="en" class="ng-star-inserted">English
                      </option>
                      
                  </select></div>
          </div>*@
          @*<div _ngcontent-serverapp-c54="" class="col-span-12 md:col-span-8 p-6">
              <ul _ngcontent-serverapp-c54=""
                  class="flex space-x-4 items-center justify-center md:justify-end">
                  <li _ngcontent-serverapp-c54=""><a _ngcontent-serverapp-c54="" target="_blank"
                          title="Đã đăng ký Bộ Công Thương"
                          href="http://online.gov.vn/HomePage/WebsiteDisplay.aspx?DocId=53817"><img
                              _ngcontent-serverapp-c54="" src="~/img/booking/svg/dadangky.svg"
                              width="79" height="30" loading="lazy" alt="Đã đăng ký Bộ Công Thương"></a>
                  </li>
                  <li _ngcontent-serverapp-c54=""><a _ngcontent-serverapp-c54="" target="_blank"
                          title="DMCA.com Protection Status. Click to verify."
                          href="https://www.dmca.com/Protection/Status.aspx?ID=a74b3497-ddcd-4860-89c3-fce83c39f12a&amp;amp;refurl=https://DoctorMed.vn/tin-tuc/"><img
                              _ngcontent-serverapp-c54=""
                              src="~/img/booking/png/dmca-badge-w100-2x1-04.png" loading="lazy"
                              width="60" height="30"
                              alt="DMCA.com Protection Status. Click to verify."></a></li>
              </ul>
          </div>*@
      </div>
      <div _ngcontent-serverapp-c54="" class="md:border-t border-gray-200 md:mt-6">
          <div _ngcontent-serverapp-c54=""
              class="container mx-auto py-6 text-center text-xs text-gray-500"> Copyright © 2022 DoctorMed.
              All rights reserved. </div>
      </div>
  </footer>
</app-footer>