@using DoctorManagement.Data.Enums
@using DoctorManagement.ViewModels.Common;
@model PagedResult<DoctorManagement.ViewModels.Catalog.Clinic.ClinicVm>
@{
    ViewData["Title"] = "Clinic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@section Stylesheet{
    <style>
        .root-layout[_ngcontent-serverApp-c55] {
            background-color: #f6f6f6
        }
    </style>
    <style>
        .offcanvas-backdrop[_ngcontent-serverApp-c50] {
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 30;
            height: 100vh;
            width: 100vw;
            background-color: #1f293799
        }

        #primary-menu[_ngcontent-serverApp-c50] .nav-link[_ngcontent-serverApp-c50] {
            display: flex;
            border-radius: .5rem;
            padding: 1rem
        }

        #primary-menu[_ngcontent-serverApp-c50] .nav-link[_ngcontent-serverApp-c50]:hover {
            background-color: #1a76e30d;
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }

        @@media (min-width: 782px) {
            #primary-menu[_ngcontent-serverApp-c50] .nav-link[_ngcontent-serverApp-c50]:hover {
                background-color: inherit
            }
        }

        #primary-menu[_ngcontent-serverApp-c50] .dropdown-footer[_ngcontent-serverApp-c50] .dropdown-item[_ngcontent-serverApp-c50] {
            display: none;
            border-radius: 0;
            --tw-bg-opacity: 1;
            background-color: rgb(249 250 251 / var(--tw-bg-opacity));
            padding: 1.5rem;
            font-weight: 400
        }

        #primary-menu[_ngcontent-serverApp-c50] .dropdown-footer[_ngcontent-serverApp-c50] .dropdown-item[_ngcontent-serverApp-c50]:hover {
            --tw-bg-opacity: 1;
            background-color: rgb(249 250 251 / var(--tw-bg-opacity))
        }

        @@media (min-width: 782px) {
            #primary-menu[_ngcontent-serverApp-c50] .dropdown-footer[_ngcontent-serverApp-c50] .dropdown-item[_ngcontent-serverApp-c50] {
                display: block
            }
        }

        #primary-menu[_ngcontent-serverApp-c50] .dropdown-item[_ngcontent-serverApp-c50] {
            display: flex;
            border-radius: .5rem;
            padding: 1rem
        }

        #primary-menu[_ngcontent-serverApp-c50] .dropdown-item[_ngcontent-serverApp-c50]:hover {
            background-color: #1a76e30d;
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }

        #primary-menu[_ngcontent-serverApp-c50] .dropdown-toggle[_ngcontent-serverApp-c50] {
            display: none !important
        }

        @@media (min-width: 782px) {
            #primary-menu[_ngcontent-serverApp-c50] .dropdown-toggle[_ngcontent-serverApp-c50] {
                display: flex !important
            }
        }

        @@media (max-width: 782px) {
            .collapse[_ngcontent-serverApp-c50]:not(.show) {
                display: none
            }
        }

        .accordion-button[_ngcontent-serverApp-c50]:not(.collapsed) .collapse-control[_ngcontent-serverApp-c50] {
            --tw-rotate: 180deg;
            transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
        }

        @@media (min-width: 782px) {
            .md\:collapse[_ngcontent-serverApp-c50]:not(.show) {
                display: none
            }

            .dropdown-toggle[_ngcontent-serverApp-c50] {
                position: relative
            }

            .dropdown-toggle[_ngcontent-serverApp-c50]:after {
                border-color: #2c2c2c;
                border-style: solid;
                border-width: 0 1px 1px 0;
                content: "";
                display: flex;
                height: 6px;
                margin-top: -3px;
                position: absolute;
                right: 4px;
                top: 50%;
                transform: rotate(45deg);
                transform-origin: 75% 75%;
                transition: transform .1s ease;
                width: 6px
            }
        }

        @@media (min-width: 1024px) {
            .lg\:collapse[_ngcontent-serverApp-c50]:not(.show) {
                display: none
            }
        }
    </style>
    <style>
        [_nghost-serverApp-c54] .ant-collapse-content-box {
            padding: 0 !important
        }

        nz-collapse-panel[_ngcontent-serverApp-c54] {
            padding: 0 !important
        }

        [_nghost-serverApp-c54] .ant-collapse-header {
            cursor: pointer !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
            padding-top: 1.5rem !important;
            padding-bottom: 1.5rem !important;
            font-size: .875rem !important;
            line-height: 1.25rem !important;
            font-weight: 600 !important;
            color: currentColor !important
        }

        @@media (min-width: 782px) {
            [_nghost-serverApp-c54] .ant-collapse-header {
                cursor: auto !important
            }

            nz-collapse-panel[_ngcontent-serverApp-c54] {
                border-style: none !important
            }
        }

        a[_ngcontent-serverApp-c54]:hover {
            color: currentColor
        }
    </style>
    <style>
        .wrapper-main[_ngcontent-serverApp-c67] {
            background: linear-gradient(90deg, #00c6fb 0%, #0758d8 98.74%)
        }

        @@media only screen and (max-width: 767px) {
            .banner-navigation[_ngcontent-serverApp-c67] {
                background: white
            }
        }

        .selected[_ngcontent-serverApp-c67] {
            --tw-bg-opacity: 1;
            background-color: rgb(255 255 255 / var(--tw-bg-opacity));
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }
    </style>
    <style>
        .see-more-box[_ngcontent-serverApp-c192] {
            background: linear-gradient(0deg, #ffffff 50%, rgba(255, 255, 255, 0) 88.64%);
            z-index: 3
        }

        .expanded[_ngcontent-serverApp-c192] {
            height: 850px;
            transition: height 1.25s linear
        }

        .not-expanded[_ngcontent-serverApp-c192] {
            height: auto
        }
    </style>
    <style>
        [nz-carousel-content][_ngcontent-serverApp-c68] {
            overflow: hidden
        }
    </style>
    <style>
        .main-search[_ngcontent-serverApp-c64] {
            margin: 0;
            display: block;
            width: 100%;
            flex: 1 1 0%;
            border-radius: .5rem;
            border-color: transparent;
            padding: .75rem 2.25rem .75rem .75rem;
            font-size: 1rem;
            line-height: 1.5rem
        }

        .main-search[_ngcontent-serverApp-c64]::placeholder {
            font-size: .875rem;
            line-height: 1.25rem
        }

        .main-search[_ngcontent-serverApp-c64]:focus {
            --tw-border-opacity: 1;
            border-color: rgb(26 118 227 / var(--tw-border-opacity));
            outline: 2px solid transparent;
            outline-offset: 2px
        }

        @@media (min-width: 782px) {
            .main-search[_ngcontent-serverApp-c64] {
                padding-right: .75rem;
                padding-left: 3rem
            }
        }

        .main-search[_ngcontent-serverApp-c64]::-webkit-calendar-picker-indicator {
            display: none !important
        }
    </style>
    <style>
        .bookmark_hospital[_ngcontent-serverApp-c66]::-webkit-scrollbar {
            background: transparent;
            width: 0px
        }
    </style>
    <style>
        .typical-doctor-card[_ngcontent-serverApp-c189] {
            box-shadow: 0 1px 2px #0000001a, 0 1px 1px #0000000f
        }

        .btn-booking-primary[_ngcontent-serverApp-c189] {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            width: 124px;
            height: 41px;
            left: 0px;
            top: 0px;
            background: #eff6ff;
            border: 1px solid #eff6ff;
            box-sizing: border-box;
            box-shadow: 0 1px 1px #0000000d;
            border-radius: 4px;
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0
        }

        .limit-line-break[_ngcontent-serverApp-c189] {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            line-height: 16px;
            max-height: 32px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical
        }
    </style>
    <style>
        .menu-item[_ngcontent-serverApp-c248] {
            position: relative;
            display: block;
            white-space: nowrap;
            padding: 1rem;
            font-size: .875rem;
            line-height: 1.25rem
        }

        .menu-item[_ngcontent-serverApp-c248]:before {
            content: "";
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: 0px;
            display: block;
            height: .25rem;
            width: 100%;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
            background-color: transparent
        }

        @@media (min-width: 782px) {
            .menu-item[_ngcontent-serverApp-c248]:before {
                right: auto;
                top: 0px;
                height: auto;
                width: .25rem;
                border-top-right-radius: .25rem;
                border-bottom-right-radius: .25rem;
                border-top-left-radius: 0
            }
        }

        .menu-item[_ngcontent-serverApp-c248]:hover {
            --tw-bg-opacity: 1;
            background-color: rgb(249 250 251 / var(--tw-bg-opacity));
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }

        .menu-item.item-active[_ngcontent-serverApp-c248] {
            --tw-bg-opacity: 1;
            background-color: rgb(249 250 251 / var(--tw-bg-opacity))
        }

        .menu-item.item-active[_ngcontent-serverApp-c248]:before {
            --tw-bg-opacity: 1;
            background-color: rgb(26 118 227 / var(--tw-bg-opacity))
        }
    </style>
    <style>
        .menu-item[_ngcontent-serverApp-c256] {
            position: relative;
            display: block;
            white-space: nowrap;
            padding: 1rem;
            font-size: .875rem;
            line-height: 1.25rem
        }

        .menu-item[_ngcontent-serverApp-c256]:before {
            content: "";
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: 0px;
            display: block;
            height: .25rem;
            width: 100%;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
            background-color: transparent
        }

        @@media (min-width: 782px) {
            .menu-item[_ngcontent-serverApp-c256]:before {
                right: auto;
                top: 0px;
                height: auto;
                width: .25rem;
                border-top-right-radius: .25rem;
                border-bottom-right-radius: .25rem;
                border-top-left-radius: 0
            }
        }

        .menu-item[_ngcontent-serverApp-c256]:hover {
            --tw-bg-opacity: 1;
            background-color: rgb(249 250 251 / var(--tw-bg-opacity));
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }

        .menu-item.item-active[_ngcontent-serverApp-c256] {
            --tw-bg-opacity: 1;
            background-color: rgb(249 250 251 / var(--tw-bg-opacity))
        }

        .menu-item.item-active[_ngcontent-serverApp-c256]:before {
            --tw-bg-opacity: 1;
            background-color: rgb(26 118 227 / var(--tw-bg-opacity))
        }
    </style>
    <style>
        .form-control[_ngcontent-serverApp-c255] {
            margin-top: .25rem;
            display: block;
            width: 100%;
            border-radius: .375rem;
            border-width: 1px;
            --tw-border-opacity: 1;
            border-color: rgb(229 231 235 / var(--tw-border-opacity));
            padding: .5rem .75rem;
            --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
            --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
        }

        .form-control[_ngcontent-serverApp-c255]::placeholder {
            font-size: .875rem;
            line-height: 1.25rem
        }

        .form-control[_ngcontent-serverApp-c255]:focus {
            --tw-border-opacity: 1;
            border-color: rgb(26 118 227 / var(--tw-border-opacity));
            --tw-ring-opacity: 1;
            --tw-ring-color: rgb(26 118 227 / var(--tw-ring-opacity))
        }

        .form-label[_ngcontent-serverApp-c255] {
            display: block;
            font-size: .875rem;
            line-height: 1.25rem;
            font-weight: 500;
            --tw-text-opacity: 1;
            color: rgb(55 65 81 / var(--tw-text-opacity))
        }
    </style>
    <style>
        .menu-item[_ngcontent-serverApp-c257] {
            position: relative;
            display: block;
            white-space: nowrap;
            padding: 1rem;
            font-size: .875rem;
            line-height: 1.25rem
        }

        .menu-item[_ngcontent-serverApp-c257]:before {
            content: "";
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: 0px;
            display: block;
            height: .25rem;
            width: 100%;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
            background-color: transparent
        }

        @@media (min-width: 782px) {
            .menu-item[_ngcontent-serverApp-c257]:before {
                right: auto;
                top: 0px;
                height: auto;
                width: .25rem;
                border-top-right-radius: .25rem;
                border-bottom-right-radius: .25rem;
                border-top-left-radius: 0
            }
        }

        .menu-item[_ngcontent-serverApp-c257]:hover {
            --tw-bg-opacity: 1;
            background-color: rgb(249 250 251 / var(--tw-bg-opacity));
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }

        .menu-item.item-active[_ngcontent-serverApp-c257] {
            --tw-bg-opacity: 1;
            background-color: rgb(249 250 251 / var(--tw-bg-opacity))
        }

        .menu-item.item-active[_ngcontent-serverApp-c257]:before {
            --tw-bg-opacity: 1;
            background-color: rgb(26 118 227 / var(--tw-bg-opacity))
        }
    </style>
    <style>
        .menu-item[_ngcontent-serverApp-c265] {
            position: relative;
            display: block;
            white-space: nowrap;
            padding: 1rem;
            font-size: .875rem;
            line-height: 1.25rem
        }

        .menu-item[_ngcontent-serverApp-c265]:before {
            content: "";
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: 0px;
            display: block;
            height: .25rem;
            width: 100%;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
            background-color: transparent
        }

        @@media (min-width: 782px) {
            .menu-item[_ngcontent-serverApp-c265]:before {
                right: auto;
                top: 0px;
                height: auto;
                width: .25rem;
                border-top-right-radius: .25rem;
                border-bottom-right-radius: .25rem;
                border-top-left-radius: 0
            }
        }

        .menu-item[_ngcontent-serverApp-c265]:hover {
            --tw-bg-opacity: 1;
            background-color: rgb(249 250 251 / var(--tw-bg-opacity));
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }

        .menu-item.item-active[_ngcontent-serverApp-c265] {
            --tw-bg-opacity: 1;
            background-color: rgb(249 250 251 / var(--tw-bg-opacity))
        }

        .menu-item.item-active[_ngcontent-serverApp-c265]:before {
            --tw-bg-opacity: 1;
            background-color: rgb(26 118 227 / var(--tw-bg-opacity))
        }
    </style>
}

<app-clinics _nghost-serverapp-c282="" class="ng-star-inserted">
                @await Component.InvokeAsync("SearchHome")
                <app-list-clinic _ngcontent-serverapp-c282="" _nghost-serverapp-c281="">
                    <div _ngcontent-serverapp-c281="" class="py-10 ng-star-inserted">
                        <nz-spin _ngcontent-serverapp-c281="" class="ant-spin-nested-loading">
                            
                            
                            <div class="ant-spin-container ng-star-inserted">
                                <div _ngcontent-serverapp-c281=""
                                    class="max-w-7xl mx-auto px-4 text-center py-4 mb-10 ng-star-inserted">
                                    <h2 _ngcontent-serverapp-c281="" class="text-2xl md:text-4xl font-bold mb-3">Đa dạng
                                        phòng khám</h2>
                                    <p _ngcontent-serverapp-c281="" class="text-sm font-medium text-gray-500">Đặt khám
                                        dễ dàng và tiện lợi hơn với các phòng khám cùng nhiều chuyên khoa</p>
                                </div>
                                <div _ngcontent-serverapp-c281="" nfinite-scroll="" infinite-scroll=""
                                    class="max-w-4xl mx-auto divide-y md:ring-1 md:ring-slate-200 rounded shadow ng-star-inserted">
                                    @foreach (var item in Model.Items){

                                        <app-card-service _ngcontent-serverapp-c281="" class="flex flex-1 ng-star-inserted"
                                            _nghost-serverapp-c241="">
                                            <div _ngcontent-serverapp-c241=""
                                                class="flex flex-1 flex-col md:flex-row p-4 gap-4 ng-star-inserted">
                                                <a asp-action="Index" asp-controller="Clinic" asp-route-id="@item.Id" _ngcontent-serverapp-c241="" class="flex flex-1 gap-4 bg-white">
                                                    <div _ngcontent-serverapp-c241="">
                                                        <div _ngcontent-serverapp-c241=""
                                                            class="bg-white cursor-pointer ng-star-inserted"><img
                                                                _ngcontent-serverapp-c241="" width="112" height="112"
                                                                defaultimage="~/img/placeholder.webp" loading="lazy"
                                                                class="w-28 h-28 rounded lazyload object-contain  ng-lazyloaded"
                                                                alt="@item.Name"
                                                                src="@(Configuration["BaseAddress"] + "/img/" + @item.ImgLogo)">
                                                        </div>
                                                    </div>
                                                    <div _ngcontent-serverapp-c241="" class="flex-1 space-y-2">
                                                        <h3 _ngcontent-serverapp-c241=""
                                                            class="text-primary text-lg cursor-pointer hover:underline">
                                                            @item.Name </h3>
                                                        <p _ngcontent-serverapp-c241="" class="text-sm text-gray-600">@item.FullAddress</p>
                                                    </div>
                                                </a>
                                                <div _ngcontent-serverapp-c241=""
                                                    class="flex flex-col items-stretch md:justify-center">
                                                    <a asp-controller="Booking" asp-action="BookingClinicSetDoctor" asp-route-clinicid="@item.Id"
                                                        _ngcontent-serverapp-c241=""
                                                        class="button button--primary block">Đặt lịch khám</a></div>
                                            </div>
                                        
                                        </app-card-service>
                                    }
                                    
                                    
                                </div>
                                
                               @* @await Component.InvokeAsync("Pager", Model)*@
                            </div>
                            
                        </nz-spin>
                    </div>
                    
                </app-list-clinic>
                <app-carousel-intro _ngcontent-serverapp-c282="" _nghost-serverapp-c68="">
                    <section _ngcontent-serverapp-c68="" class="pt-10 md:pb-10 md:pt-16 ng-star-inserted">
                        <div _ngcontent-serverapp-c68="" class="max-w-7xl mx-auto px-4 text-center py-4 mb-10">
                            <h2 _ngcontent-serverapp-c68="" class="text-2xl md:text-4xl font-bold mb-3">An tâm tìm phòng
                                khám</h2>
                            <p _ngcontent-serverapp-c68="" class="text-sm font-medium text-gray-500 mb-0">Tìm và đặt
                                khám với hơn 50+ phòng khám<br class="md:hidden"> trên DoctorMed</p>
                        </div>
                        <div _ngcontent-serverapp-c68="" class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2">
                            <div _ngcontent-serverapp-c68="" class="carousel">
                                <nz-carousel _ngcontent-serverapp-c68="" nzautoplay="" class="ant-carousel">
                                    <div class="slick-initialized slick-slider">
                                        <div tabindex="-1" class="slick-list">
                                            <div class="slick-track" style="width: 1280px;">
                                                <div _ngcontent-serverapp-c68="" nz-carousel-content=""
                                                    class="slick-slide ng-star-inserted"
                                                    style="opacity: 0; position: relative; width: 640px; left: 0px; transition: opacity 500ms ease 0s, visibility 500ms ease 0s;">
                                                    <img _ngcontent-serverapp-c68="" width="500" height="500" alt=""
                                                        class="mx-auto  ng-lazyloaded"
                                                        src="~/img/booking/png/Clinic/Feature1.webp"></div>
                                                <div _ngcontent-serverapp-c68="" nz-carousel-content=""
                                                    class="slick-slide ng-star-inserted slick-active"
                                                    style="opacity: 1; position: relative; width: 640px; left: -640px; transition: opacity 500ms ease 0s, visibility 500ms ease 0s;">
                                                    <img _ngcontent-serverapp-c68="" width="500" height="500" alt=""
                                                        class="mx-auto  ng-lazyloaded"
                                                        src="~/img/booking/png/Clinic/Feature2.webp"></div>
                                                
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </nz-carousel>
                            </div>
                            <div _ngcontent-serverapp-c68="" class="info relative">
                                <div _ngcontent-serverapp-c68="" class="md:border-l divide-y">
                                    <div _ngcontent-serverapp-c68=""
                                        class="carousel-item cursor-pointer border-l-4 border-l-transparent px-4 py-6 md:p-10 group hover:border-l-primary ng-star-inserted">
                                        <h3 _ngcontent-serverapp-c68=""
                                            class="text-base lg:text-lg font-semibold group-hover:text-primary">Phòng
                                            khám uy tín - không lo chờ đợi</h3>
                                        <p _ngcontent-serverapp-c68="" class="text-sm lg:text-base mt-3">Tìm &amp; đặt
                                            khám trực tuyến ngay trên ứng dụng DoctorMed giúp bệnh nhân tiết kiệm thời
                                            gian.</p>
                                    </div>
                                    
                                    <div _ngcontent-serverapp-c68=""
                                        class="carousel-item cursor-pointer border-l-4 border-l-transparent px-4 py-6 md:p-10 group hover:border-l-primary ng-star-inserted border-l-primary">
                                        <h3 _ngcontent-serverapp-c68=""
                                            class="text-base lg:text-lg font-semibold group-hover:text-primary">Trả kết
                                            quả và lưu trữ hồ sơ trực tuyến</h3>
                                        <p _ngcontent-serverapp-c68="" class="text-sm lg:text-base mt-3">Theo dõi kết
                                            quả khám, đơn thuốc, xét nghiệm và nhắc lịch tái khám, lịch uống thuốc tự
                                            động ngay trên ứng dụng.</p>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </section>
                    
                </app-carousel-intro>
                <app-download _ngcontent-serverapp-c282="" _nghost-serverapp-c69="">
                    <section _ngcontent-serverapp-c69="" id="download"
                        class="bg-gradient-to-t md:bg-gradient-to-r from-[#00C6FB] to-[#0758D8] md:mt-12">
                        <div _ngcontent-serverapp-c69="" class="max-w-7xl mx-auto md:grid md:grid-cols-12">
                            <div _ngcontent-serverapp-c69=""
                                class="px-4 py-6 lg:py-12 text-white space-y-6 md:col-span-5 lg:col-span-4">
                                <h2 _ngcontent-serverapp-c69="" class="text-2xl md:text-4xl font-bold text-white">Tải
                                    ứng dụng DoctorMed</h2>
                                <ul _ngcontent-serverapp-c69="" class="space-y-4">
                                    <li _ngcontent-serverapp-c69="" class="flex items-center ng-star-inserted"><img
                                            _ngcontent-serverapp-c69="" width="24" height="24" alt="icon"
                                            class="mr-1  ng-lazyloaded"
                                            src="~/img/booking/svg/iconCheck.svg"><span
                                            _ngcontent-serverapp-c69="" class="text-white">Đặt khám phòng khám uy
                                            tín</span></li>
                                    
                                    <li _ngcontent-serverapp-c69="" class="flex items-center ng-star-inserted"><img
                                            _ngcontent-serverapp-c69="" width="24" height="24" alt="icon"
                                            class="mr-1  ng-lazyloaded"
                                            src="~/img/booking/svg/iconCheck.svg"><span
                                            _ngcontent-serverapp-c69="" class="text-white">Trả kết quả khám, lưu trữ hồ
                                            sơ</span></li>
                                    
                                    
                                </ul>
                                <div _ngcontent-serverapp-c69="" class="flex gap-4 justify-center md:justify-start"><a
                                        _ngcontent-serverapp-c69="" target="_blank"
                                        href="https://play.google.com/store/apps/details?id=com.DoctorMed.info"><img
                                            _ngcontent-serverapp-c69="" width="135" height="40" loading="lazy"
                                            src="~/img/booking/svg/google-play.svg"
                                            title="Tải ứng dụng đặt khám trên Google Play"
                                            alt="Tải ứng dụng đặt khám trên Google Play"></a><a
                                        _ngcontent-serverapp-c69="" target="_blank"
                                        href="https://itunes.apple.com/gb/app/DoctorMed/id1466077723?mt=8"><img
                                            _ngcontent-serverapp-c69="" width="120" height="40" loading="lazy"
                                            src="~/img/booking/svg/apple-store.svg"
                                            title="Tải ứng dụng đặt khám trên Apple Store"
                                            alt="Tải ứng dụng đặt khám trên Apple Store"></a></div>
                            </div>
                            <div _ngcontent-serverapp-c69=""
                                class="md:col-span-7 lg:col-span-8 relative overflow-hidden md:overflow-visible flex items-end justify-center">
                                <img _ngcontent-serverapp-c69="" width="734" height="734"
                                    src="~/img/booking/svg/rounded_full.svg" alt="decor"
                                    class="absolute top-0 lg:-top-1/2">
                                <div _ngcontent-serverapp-c69=""
                                    class="invisible md:visible absolute z-10 bottom-0 max-w-[195.8px] md:max-w-full">
                                    <img _ngcontent-serverapp-c69="" lazyload="~/img/booking/png/ip13.webp"
                                        class="w-full md:max-h-[350px] object-cover  ng-lazyloaded"
                                        src="~/img/booking/png/ip13.webp"></div>
                            </div>
                        </div>
                    </section>
                </app-download>
</app-clinics>
@section Alert{
    <div class="cdk-global-overlay-wrapper" dir="ltr">
      @if (TempData["AlertMessage"] != null)
      {
          <div id="cdk-overlay-9" class="cdk-overlay-pane" style="z-index: 1010; position: static;">
            <nz-message-container>
              <div class="ant-message" style="top: 24px;">
                <nz-message class="ng-tns-c43-75 ng-star-inserted">
                  <div class="ant-message-notice ng-tns-c43-75 ng-trigger ng-trigger-moveUpMotion">
                    <div class="ant-message-notice-content ng-tns-c43-75">
                      <div class="ant-message-custom-content ng-tns-c43-75 ant-message-@TempData["AlertType"]">
                          @if(TempData["AlertType"]=="success"){

                              <i nz-icon="" nztype="check-circle" class="anticon ng-tns-c43-75 anticon-check-circle ng-star-inserted" style="">
                                <svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1em" height="1em"
                                    class="ng-tns-c43-75" data-icon="check-circle" aria-hidden="true">
                                    <path
                                      d="M699 353h-46.9c-10.2 0-19.9 4.9-25.9 13.3L469 584.3l-71.2-98.8c-6-8.3-15.6-13.3-25.9-13.3H325c-6.5 0-10.3 7.4-6.5 12.7l124.6 172.8a31.8 31.8 0 0051.7 0l210.6-292c3.9-5.3.1-12.7-6.4-12.7z">
                                    </path>
                                    <path
                                      d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z">
                                    </path>
                                </svg>
                              </i>
                          }else{
                             <i nz-icon="" nztype="close-circle"
                                class="anticon ng-tns-c43-5 anticon-close-circle ng-star-inserted" style=""><svg
                                    viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1em"
                                    height="1em" class="ng-tns-c43-5" data-icon="close-circle"
                                    aria-hidden="true">
                                    <path
                                        d="M685.4 354.8c0-4.4-3.6-8-8-8l-66 .3L512 465.6l-99.3-118.4-66.1-.3c-4.4 0-8 3.5-8 8 0 1.9.7 3.7 1.9 5.2l130.1 155L340.5 670a8.32 8.32 0 00-1.9 5.2c0 4.4 3.6 8 8 8l66.1-.3L512 564.4l99.3 118.4 66 .3c4.4 0 8-3.5 8-8 0-1.9-.7-3.7-1.9-5.2L553.5 515l130.1-155c1.2-1.4 1.8-3.3 1.8-5.2z">
                                    </path>
                                    <path
                                        d="M512 65C264.6 65 64 265.6 64 513s200.6 448 448 448 448-200.6 448-448S759.4 65 512 65zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z">
                                    </path>
                                </svg>
                             </i>

                          }
                        <span class="ng-tns-c43-75 ng-star-inserted" style="">@TempData["AlertMessage"]</span>
                      </div>
                    </div>
                  </div>
                </nz-message>
              </div>
            </nz-message-container>
          </div>
            
      } 
    </div>
    
}
@section JavaScript{
    <script>
         var clinic = document.getElementById("clinic");
            clinic.classList.add("selected");
    </script>
}