@using DoctorManagement.ViewModels.Catalog.Clinic
@using DoctorManagement.ViewModels.Catalog.Speciality
@using DoctorManagement.ViewModels.Common
@model PagedResult<DoctorManagement.ViewModels.System.Users.UserVm>
@{
    ViewData["Title"] = "FilterDoctorHome";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var clinics = (List<ClinicVm>)ViewBag.Clinics;
}

@section Stylesheet{
    <style>
        .root-layout[_ngcontent-serverApp-c55] {
            background-color: #f6f6f6
        }
    </style>
    <style>
        .offcanvas-backdrop[_ngcontent-serverApp-c50] {
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 30;
            height: 100vh;
            width: 100vw;
            background-color: #1f293799
        }

        #primary-menu[_ngcontent-serverApp-c50] .nav-link[_ngcontent-serverApp-c50] {
            display: flex;
            border-radius: .5rem;
            padding: 1rem
        }

        #primary-menu[_ngcontent-serverApp-c50] .nav-link[_ngcontent-serverApp-c50]:hover {
            background-color: #1a76e30d;
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }

        @@media (min-width: 782px) {
            #primary-menu[_ngcontent-serverApp-c50] .nav-link[_ngcontent-serverApp-c50]:hover {
                background-color: inherit
            }
        }

        #primary-menu[_ngcontent-serverApp-c50] .dropdown-footer[_ngcontent-serverApp-c50] .dropdown-item[_ngcontent-serverApp-c50] {
            display: none;
            border-radius: 0;
            --tw-bg-opacity: 1;
            background-color: rgb(249 250 251 / var(--tw-bg-opacity));
            padding: 1.5rem;
            font-weight: 400
        }

        #primary-menu[_ngcontent-serverApp-c50] .dropdown-footer[_ngcontent-serverApp-c50] .dropdown-item[_ngcontent-serverApp-c50]:hover {
            --tw-bg-opacity: 1;
            background-color: rgb(249 250 251 / var(--tw-bg-opacity))
        }

        @@media (min-width: 782px) {
            #primary-menu[_ngcontent-serverApp-c50] .dropdown-footer[_ngcontent-serverApp-c50] .dropdown-item[_ngcontent-serverApp-c50] {
                display: block
            }
        }

        #primary-menu[_ngcontent-serverApp-c50] .dropdown-item[_ngcontent-serverApp-c50] {
            display: flex;
            border-radius: .5rem;
            padding: 1rem
        }

        #primary-menu[_ngcontent-serverApp-c50] .dropdown-item[_ngcontent-serverApp-c50]:hover {
            background-color: #1a76e30d;
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }

        #primary-menu[_ngcontent-serverApp-c50] .dropdown-toggle[_ngcontent-serverApp-c50] {
            display: none !important
        }

        @@media (min-width: 782px) {
            #primary-menu[_ngcontent-serverApp-c50] .dropdown-toggle[_ngcontent-serverApp-c50] {
                display: flex !important
            }
        }

        @@media (max-width: 782px) {
            .collapse[_ngcontent-serverApp-c50]:not(.show) {
                display: none
            }
        }

        .accordion-button[_ngcontent-serverApp-c50]:not(.collapsed) .collapse-control[_ngcontent-serverApp-c50] {
            --tw-rotate: 180deg;
            transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
        }

        @@media (min-width: 782px) {
            .md\:collapse[_ngcontent-serverApp-c50]:not(.show) {
                display: none
            }

            .dropdown-toggle[_ngcontent-serverApp-c50] {
                position: relative
            }

            .dropdown-toggle[_ngcontent-serverApp-c50]:after {
                border-color: #2c2c2c;
                border-style: solid;
                border-width: 0 1px 1px 0;
                content: "";
                display: flex;
                height: 6px;
                margin-top: -3px;
                position: absolute;
                right: 4px;
                top: 50%;
                transform: rotate(45deg);
                transform-origin: 75% 75%;
                transition: transform .1s ease;
                width: 6px
            }
        }

        @@media (min-width: 1024px) {
            .lg\:collapse[_ngcontent-serverApp-c50]:not(.show) {
                display: none
            }
        }
    </style>
    <style>
        [_nghost-serverApp-c54] .ant-collapse-content-box {
            padding: 0 !important
        }

        nz-collapse-panel[_ngcontent-serverApp-c54] {
            padding: 0 !important
        }

        [_nghost-serverApp-c54] .ant-collapse-header {
            cursor: pointer !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
            padding-top: 1.5rem !important;
            padding-bottom: 1.5rem !important;
            font-size: .875rem !important;
            line-height: 1.25rem !important;
            font-weight: 600 !important;
            color: currentColor !important
        }

        @@media (min-width: 782px) {
            [_nghost-serverApp-c54] .ant-collapse-header {
                cursor: auto !important
            }

            nz-collapse-panel[_ngcontent-serverApp-c54] {
                border-style: none !important
            }
        }

        a[_ngcontent-serverApp-c54]:hover {
            color: currentColor
        }
    </style>
    <style>
        [_nghost-serverApp-c143] .ant-tabs-tab-btn {
            font-size: .875rem;
            line-height: 1.25rem;
            font-weight: 500;
            line-height: 17px;
            --tw-text-opacity: 1;
            color: rgb(75 85 99 / var(--tw-text-opacity))
        }

        [_nghost-serverApp-c143] .ant-tabs-tab-active>.ant-tabs-tab-btn {
            font-size: .875rem !important;
            line-height: 1.25rem !important;
            font-weight: 500 !important;
            line-height: 17px !important;
            --tw-text-opacity: 1 !important;
            color: rgb(31 41 55 / var(--tw-text-opacity)) !important
        }

        [_nghost-serverApp-c143] .ant-tabs-nav {
            margin: 0 !important;
            border-style: none !important;
            --tw-bg-opacity: 1 !important;
            background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important
        }

        [_nghost-serverApp-c143] .ant-tabs-nav .ant-tabs-nav-wrap {
            margin-left: auto;
            margin-right: auto;
            max-width: 64rem;
            padding-left: 1rem;
            padding-right: 1rem
        }
    </style>
    <style>
        .wrapper-main[_ngcontent-serverApp-c132] {
            background: linear-gradient(90deg, #FFFFFF, #FFFFFF)
        }

        @@media only screen and (max-width: 767px) {
            .banner-navigation[_ngcontent-serverApp-c132] {
                background: white
            }
        }

        .selected[_ngcontent-serverApp-c132] {
            --tw-bg-opacity: 1;
            background-color: rgb(255 255 255 / var(--tw-bg-opacity));
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }
    </style>
    <style>
        [_nghost-serverApp-c138] .ant-tabs-nav-operations {
            display: none !important
        }

        [_nghost-serverApp-c138] .ant-tabs-tab {
            padding: 0
        }

        [_nghost-serverApp-c138] .ant-tabs-tab-active {
            border: 1px solid #1A76E3;
            background: #eff6ff
        }

        .active[_ngcontent-serverApp-c138] {
            border-top: 1px solid #1A76E3;
            border-bottom: 1px solid #1A76E3
        }

        [_nghost-serverApp-c138] .ant-tabs-tabpane {
            min-height: 200px
        }

        .item[_ngcontent-serverApp-c138] {
            padding: 0;
            width: 100%;
            height: 46px;
            color: #000;
            font-size: 20px;
            line-height: 46px;
            text-align: center
        }

        .selected[_ngcontent-serverApp-c138] {
            border: 1px solid #1a76e3;
            background: #eff6ff
        }

        .selected[_ngcontent-serverApp-c138] .text[_ngcontent-serverApp-c138] {
            text-shadow: 0 0 .25px currentcolor
        }
    </style>
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
<app-search _nghost-serverapp-c143="" class="ng-star-inserted">
    <app-banner-search _ngcontent-serverapp-c143="" _nghost-serverapp-c132=""
        class="ng-tns-c132-3 ng-star-inserted">
        <div _ngcontent-serverapp-c132=""
            class="bg-gradient-to-r from-[#00C6FB] to-[#0758D8] ng-tns-c132-3">
            <div _ngcontent-serverapp-c132="" class="max-w-4xl mx-auto px-4 py-8 ng-tns-c132-3">
                <div _ngcontent-serverapp-c132="" class="flex gap-4 ng-tns-c132-3">
                    <form _ngcontent-serverapp-c132="" novalidate="" action="FilterDoctorHome" method="get"
                        class="relative flex-1 ng-tns-c132-3 ng-valid ng-dirty ng-touched ng-submitted"><img
                            _ngcontent-serverapp-c132=""
                            src="~/img/booking/svg/search-normal-blue.svg"
                            class="cursor-pointer absolute left-4 bottom-1/2 translate-y-1/2 object-cover ng-tns-c132-3"><input
                            _ngcontent-serverapp-c132="" type="search" name="keyword" value="@ViewBag.Keyword"
                            placeholder="Tìm theo triệu chứng, bác sĩ, bệnh viện..."
                            class="form-control block border-transparent w-full px-4 pl-9 py-2 placeholder:text-sm bg-gray-50 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none ng-tns-c132-3 ng-valid ng-dirty ng-touched">
                    </form>
                </div>
            </div>
        </div>
    </app-banner-search>
    <section _ngcontent-serverapp-c143="" class="bg-gray-50">
        <nz-tabset _ngcontent-serverapp-c143="" nzlinkrouter=""
            class="ant-tabs ant-tabs-top ant-tabs-default">
            <nz-tabs-nav role="tablist" class="ant-tabs-nav ng-star-inserted">
                <div class="ant-tabs-nav-wrap">
                    <div nztabscrolllist="" class="ant-tabs-nav-list"
                        style="transform: translate(0px, 0px);">
                        <div class="ant-tabs-tab ng-star-inserted ant-tabs-tab-active" id="show-doctor" onclick="showdoctor()">
                            <div role="tab" nztabnavitem="" cdkmonitorelementfocus="" 
                                class="ant-tabs-tab-btn" tabindex="0" aria-disabled="false"
                                aria-selected="true" aria-controls="nz-tabs-0-tab-0"><a
                                    _ngcontent-serverapp-c143="" nz-tab-link="" queryparamshandling="merge"  class="ng-star-inserted">
                                    Bác sĩ</a>
                                
                                
                            </div>
                        </div>
                       
                        <div class="ant-tabs-tab ng-star-inserted" onclick="showclinic()" id="show-clinic">
                            <div role="tab" nztabnavitem="" cdkmonitorelementfocus="" 
                                class="ant-tabs-tab-btn" tabindex="-1" aria-disabled="false"
                                aria-selected="false" aria-controls="nz-tabs-0-tab-2"><a
                                    _ngcontent-serverapp-c143="" nz-tab-link="" queryparamshandling="merge"
                                    class="ng-star-inserted">
                                    Phòng khám</a>
                                
                                
                            </div>
                        </div>
                        
                        
                        <div nz-tabs-ink-bar="" class="ant-tabs-ink-bar" style="left: 0px; width: 40px;">
                        </div>
                    </div>
                </div>
                <nz-tab-nav-operation class="ant-tabs-nav-operations ant-tabs-nav-operations-hidden"><button
                        nz-dropdown="" type="button" tabindex="-1" aria-hidden="true"
                        nzoverlayclassname="nz-tabs-dropdown"
                        class="ant-dropdown-trigger ant-tabs-nav-more"><i nz-icon="" nztype="ellipsis"
                            class="anticon anticon-ellipsis"><svg viewBox="64 64 896 896" focusable="false"
                                fill="currentColor" width="1em" height="1em" data-icon="ellipsis"
                                aria-hidden="true">
                                <path
                                    d="M176 511a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0z">
                                </path>
                            </svg></i></button>
                    
                    
                    
                </nz-tab-nav-operation>
                
            </nz-tabs-nav>
            
            <div class="ant-tabs-content-holder">
                <div class="ant-tabs-content ant-tabs-content-top">
                    <div nz-tab-body="" id = "row-doctor" class="ant-tabs-tabpane ng-star-inserted "
                        tabindex="0" aria-hidden="false" style="">
                        <div _ngcontent-serverapp-c143=""
                            class="max-w-5xl mx-auto md:p-4 lg:px6 lg:py-10 ng-star-inserted" style="">
                            <app-search-doctors _ngcontent-serverapp-c143="" _nghost-serverapp-c138=""
                                class="ng-star-inserted">
                                <nz-spin _ngcontent-serverapp-c138=""
                                    class="ant-spin-nested-loading ng-star-inserted">
                                    
                                    
                                    <div class="ant-spin-container ng-star-inserted">
                                        <div _ngcontent-serverapp-c138="" infinite-scroll=""
                                            class="max-w-5xl mx-auto bg-white overflow-hidden md:rounded-lg md:shadow md:ring-1 md:ring-slate-100 divide-y">
                                            <div _ngcontent-serverapp-c138=""
                                                class="p-4 lg:p-6 ng-star-inserted">
                                                <h1 _ngcontent-serverapp-c138=""
                                                    class="text-xl font-medium"> @Model.TotalRecords kết quả được tìm thấy
                                                    <span _ngcontent-serverapp-c138=""
                                                        class="ng-star-inserted"> @(ViewBag.Keyword != null? "với từ khóa: " +ViewBag.Keyword +"": "")
                                                    </span>
                                                    
                                                </h1>
                                            </div>
                                            @if (Model.Items.Count() == 0)
                                            {
                
                                                <div _ngcontent-serverapp-c262="" class="ng-star-inserted"><div _ngcontent-serverapp-c262="" class="p-6 text-center text-gray-600"> Rất tiếc, chúng tôi không tìm thấy <strong _ngcontent-serverapp-c262="">Bác sĩ</strong> nào với từ khóa bạn đang tìm kiếm.<br _ngcontent-serverapp-c262=""> Vui lòng thử lại với từ khóa khác hoặc tìm theo <strong _ngcontent-serverapp-c262="">Phòng khám</strong>. </div></div>
                                            }
                                           @* <div _ngcontent-serverapp-c138="" class="ng-star-inserted">
                                                <app-doctor-card _ngcontent-serverapp-c138=""
                                                    _nghost-serverapp-c134="">
                                                    <div _ngcontent-serverapp-c134=""
                                                        class="flex flex-col lg:flex-row ng-star-inserted">
                                                        <div _ngcontent-serverapp-c134=""
                                                            class="flex flex-1 p-4 lg:p-6 gap-4"><img
                                                                _ngcontent-serverapp-c134="" width="100"
                                                                height="100"
                                                                defaultimage="assets/img/placeholder.svg"
                                                                class="cursor-pointer w-[100px] h-[100px] shrink-0 rounded-full object-cover  ng-star-inserted ng-failed-lazyloaded ng-lazyloaded"
                                                                src="assets/img/placeholder.svg">
                                                            
                                                            
                                                            <div _ngcontent-serverapp-c134="">
                                                                <p _ngcontent-serverapp-c134=""
                                                                    class="font-medium text-sm text-gray-800 ng-star-inserted">
                                                                    BS.CK2</p>
                                                                
                                                                <h2 _ngcontent-serverapp-c134=""
                                                                    class="cursor-pointer text-lg text-primary ng-star-inserted">
                                                                    Nguyễn Văn Tẩn</h2>
                                                                
                                                                <p _ngcontent-serverapp-c134=""
                                                                    class="text-sm"><span
                                                                        _ngcontent-serverapp-c134=""
                                                                        class="text-gray-600 ng-star-inserted">
                                                                        Hô hấp </span>
                                                                    <span
                                                                        _ngcontent-serverapp-c134=""
                                                                        class="text-gray-800 font-medium ng-star-inserted">
                                                                        · Bệnh Viện Phạm Ngọc Thạch </span>
                                                                    
                                                                </p>
                                                                <p _ngcontent-serverapp-c134=""
                                                                    class="text-sm text-gray-600 mt-1">005
                                                                    Lô A, Đặng Thái Thân, P.11, Q.5, TP.HCM
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div _ngcontent-serverapp-c134=""
                                                            class="flex lg:flex-col gap-4 px-4 pb-4 lg:pb-0">
                                                            <div _ngcontent-serverapp-c134=""
                                                                class="flex flex-1 items-start lg:items-end">
                                                                
                                                            </div>
                                                            <div _ngcontent-serverapp-c134=""
                                                                class="flex flex-1 flex-col"><button
                                                                    _ngcontent-serverapp-c134=""
                                                                    appsingleclick=""
                                                                    class="bg-primary hover:bg-primary/90 flex flex-1 lg:flex-none justify-center p-3 lg:px-6 rounded font-medium text-white">
                                                                    Đặt lịch khám </button><span
                                                                    _ngcontent-serverapp-c134=""
                                                                    class="hidden font-normal text-xs text-green-500 mt-2 text-center">Miễn
                                                                    phí đặt lịch</span></div>
                                                        </div>
                                                    </div>
                                                    
                                                </app-doctor-card>
                                                
                                            </div>*@
                                            <div class="quotes">
                                            </div>

                                            <div class="loader">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </nz-spin>
                            </app-search-doctors>
                        </div>
                    </div>
                    <div nz-tab-body="" id = "row-clinic" class="ant-tabs-tabpane ng-star-inserted ant-tabs-tabpane-active" tabindex="0" aria-hidden="false">
                        <div _ngcontent-serverapp-c143="" class="max-w-5xl mx-auto p-4 lg:px6 lg:py-10 ng-star-inserted" style="">
                            <app-search-clinics _ngcontent-serverapp-c143="" _nghost-serverapp-c141="" class="ng-star-inserted">
                                <nz-spin _ngcontent-serverapp-c141="" class="ant-spin-nested-loading ng-star-inserted">
                                    <div class="ant-spin-container ng-star-inserted">
                                        <div _ngcontent-serverapp-c141="" infinite-scroll=""
                                            class="max-w-5xl mx-auto bg-white overflow-hidden md:rounded-lg md:shadow md:ring-1 md:ring-slate-100 divide-y">
                                            <div _ngcontent-serverapp-c141="" class="p-4 lg:p-6 ng-star-inserted">
                                                <h1 _ngcontent-serverapp-c141="" class="text-xl font-medium"> @clinics.Count() kết quả được tìm thấy <span
                                                        _ngcontent-serverapp-c141="" class="ng-star-inserted"> @(ViewBag.Keyword != null? "với từ khóa: " +ViewBag.Keyword +"": "") </span>
                                                </h1>
                                            </div>
                                            @if (clinics.Count() == 0)
                                            {

                                                <div _ngcontent-serverapp-c262="" class="ng-star-inserted"><div _ngcontent-serverapp-c262="" class="p-6 text-center text-gray-600"> Rất tiếc, chúng tôi không tìm thấy <strong _ngcontent-serverapp-c262="">Phòng khám</strong> nào với từ khóa bạn đang tìm kiếm.<br _ngcontent-serverapp-c262=""> Vui lòng thử lại với từ khóa khác hoặc tìm theo <strong _ngcontent-serverapp-c262="">Bác sĩ</strong>. </div></div>
                                            }
                                            else
                                            {
                                                foreach(var item in clinics)
                                                {
                                                    <div _ngcontent-serverapp-c141="" class="ng-star-inserted">
                                                        <app-card-service _ngcontent-serverapp-c141="" _nghost-serverapp-c139=""
                                                            class="ng-star-inserted">
                                                            <div _ngcontent-serverapp-c139=""
                                                                class="flex flex-1 flex-col md:flex-row p-4 gap-4 ng-star-inserted">
                                                                <div _ngcontent-serverapp-c139="" class="flex flex-1 gap-4 bg-white">
                                                                    <div _ngcontent-serverapp-c139="">
                                                                        <div _ngcontent-serverapp-c139=""
                                                                            class="bg-white cursor-pointer ng-star-inserted"><img
                                                                                _ngcontent-serverapp-c139="" width="112" height="112"
                                                                                defaultimage="./assets/img/placeholder.svg" loading="lazy"
                                                                                class="w-28 h-28 rounded lazyload object-contain  ng-lazyloaded"
                                                                                alt="@item.Name"
                                                                                src="@(Configuration["BaseAddress"]+"/img/"+ @item.ImgLogo)">
                                                                        </div>
                                                                    </div>
                                                                    <div _ngcontent-serverapp-c139="" class="flex-1 space-y-2">
                                                                        <a _ngcontent-serverapp-c139="" asp-action="Index" asp-controller="Clinic" asp-route-id="@item.Id"
                                                                            class="text-primary text-lg cursor-pointer hover:underline"> @item.Name </a>
                                                                        <p _ngcontent-serverapp-c139="" class="text-sm text-gray-600">@item.FullAddress</p>
                                                                    </div>
                                                                </div>
                                                                <div _ngcontent-serverapp-c139=""
                                                                    class="flex flex-col items-stretch md:justify-center"><a asp-controller="Booking" asp-action ="BookingClinicSetDoctor" asp-route-id="@item.Id"
                                                                        _ngcontent-serverapp-c139="" class="button button--primary block">Đặt lịch
                                                                        khám</a></div>
                                                            </div>
                                                        </app-card-service>
                                                    </div>
                                                    
                                                }
                                            }
                                            
                                        </div>
                                    </div>
                                </nz-spin>
                            </app-search-clinics>
                        </div>
                    </div>
                  
                </div>
            </div>
        </nz-tabset>
    </section>
</app-search>

@section JavaScript{
    <script>
        function showclinic(){
            $('#row-clinic').css("display", "block");
            $('#row-doctor').css("display", "none");
            $('#show-clinic').addClass('ant-tabs-tab-active');
            $('#show-doctor').removeClass('ant-tabs-tab-active');
            $('.ant-tabs-ink-bar').css('left', '72px ');
            $('.ant-tabs-ink-bar').css('width' ,'82px');
        }
        function showdoctor(){
            $('#row-clinic').css("display", "none");
            $('#row-doctor').css("display", "block");
            $('#show-clinic').removeClass('ant-tabs-tab-active');
            $('#show-doctor').addClass('ant-tabs-tab-active');
            $('.ant-tabs-ink-bar').css('left', '0px ');
            $('.ant-tabs-ink-bar').css('width' ,'40px');
        }
    </script>
    <script>
        function myFunction() {
          // Declare variables
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("search-table");
          tr = table.getElementsByTagName("a");

          // Loop through all table rows, and hide those who don't match the search query
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("span")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
        (function () {

            const quotesEl = document.querySelector('.quotes');
            const loaderEl = document.querySelector('.loader');

            // get the quotes from API
            const getQuotes = async (page, limit) => {
                var keyword = "@Html.Raw(ViewBag.Keyword)";
                const API_URL = `@(Configuration["Base"])/Home/FilterDoctorHomeJson?pageIndex=${page}&pageSize=${limit}&keyword=${keyword}`;
                const response = await fetch(API_URL);
                // handle 404
                if (!response.ok) {
                    throw new Error(`An error occurred: ${response.status}`);
                }
                return await response.json();
            }

            // show the quotes
            const showQuotes = (quotes) => {
                quotes.forEach(quote => {
                    const quoteEl = document.createElement('blockquote');
                    quoteEl.classList.add('quote');
                    var speciality = "";
                    quote.doctorVm.getSpecialities.forEach(spe=>{
                        if (spe.title == quote.doctorVm.getSpecialities[quote.doctorVm.getSpecialities.length - 1].title)
                        speciality = speciality + spe.title;
                        else speciality = speciality + spe.title+ ", ";
                    })
                    var clinic = quote.doctorVm.getClinic.name==null?"":quote.doctorVm.getClinic.name;
                    quoteEl.innerHTML = `
                
                     <div _ngcontent-serverapp-c229="" class="ng-star-inserted">
                                            <app-doctor-card _ngcontent-serverapp-c229="" _nghost-serverapp-c227="">
                                                <div _ngcontent-serverapp-c227=""
                                                    class="flex flex-col lg:flex-row ng-star-inserted">
                                                    <div _ngcontent-serverapp-c227=""
                                                        class="flex flex-1 p-4 lg:p-6 gap-4"><img
                                                            _ngcontent-serverapp-c227="" width="100" height="100"
                                                            defaultimage="~/img/placeholder.svg"
                                                            class="cursor-pointer w-[100px] h-[100px] shrink-0 rounded-full object-cover  ng-star-inserted ng-lazyloaded"
                                                            src="@(Configuration["BaseAddress"]+"/img/")${quote.doctorVm.img}">
                                                
                                                
                                                        <div _ngcontent-serverapp-c227="">
                                                            <p _ngcontent-serverapp-c227=""
                                                                class="font-medium text-sm text-gray-800 ng-star-inserted">
                                                                ${quote.doctorVm.prefix}</p>
                                                    
                                                            <a _ngcontent-serverapp-c227="" href="/Doctor/Index/${quote.doctorVm.userId}"
                                                                class="cursor-pointer text-lg text-primary ng-star-inserted">
                                                                 ${quote.doctorVm.lastName + " "+ quote.doctorVm.firstName}</a>
                                                    
                                                            <p _ngcontent-serverapp-c227="" class="text-sm"><span
                                                                    _ngcontent-serverapp-c227=""
                                                                    class="text-gray-600 ng-star-inserted"> 
                                                                   ${speciality}
                                                                </span>
                                                                <span _ngcontent-serverapp-c227=""
                                                                    class="text-gray-800 font-medium ng-star-inserted">
                                                                    · ${clinic} </span>
                                                        
                                                            </p>
                                                            <p _ngcontent-serverapp-c227=""
                                                                class="text-sm text-gray-600 mt-1">${quote.doctorVm.fullAddress}</p>
                                                        </div>
                                                    </div>
                                                    <div _ngcontent-serverapp-c227=""
                                                        class="flex lg:flex-col gap-4 px-4 pb-4 lg:pb-0">
                                                        <div _ngcontent-serverapp-c227=""
                                                            class="flex flex-1 items-start lg:items-end">
                                                    
                                                        </div>
                                                        <div _ngcontent-serverapp-c227=""
                                                            class="flex flex-1 flex-col"><a href="/Booking/BookingDoctorSetPatient?doctorid=${quote.id}&scheduleid=@(new Guid())"  
                                                                _ngcontent-serverapp-c227="" appsingleclick=""
                                                                class="bg-primary hover:bg-primary/90 flex flex-1 lg:flex-none justify-center p-3 lg:px-6 rounded font-medium text-white">
                                                                Đặt lịch khám </a></div>
                                                    </div>
                                                </div>
                                        
                                            </app-doctor-card>
                                    
                                        </div>

                `;

                    quotesEl.appendChild(quoteEl);
                });
            };

            const hideLoader = () => {
                loaderEl.classList.remove('show');
            };

            const showLoader = () => {
                loaderEl.classList.add('show');
            };

            const hasMoreQuotes = (page, limit, total) => {
                const startIndex = (page - 1) * limit + 1;
                return total === 0 || startIndex <= total;
            };

            // load quotes
            const loadQuotes = async (page, limit) => {

                // show the loader
                showLoader();

                // 0.5 second later
                setTimeout(async () => {
                    try {
                        // if having more quotes to fetch
                        if (hasMoreQuotes(page, limit, total)) {
                            // call the API to get quotes
                            const response = await getQuotes(page, limit);
                            // show quotes
                            showQuotes(response.data.items);
                            // update the total
                            total = response.data.totalRecords;
                        }
                    } catch (error) {
                        console.log(error.message);
                    } finally {
                        hideLoader();
                    }
                }, 500);

            };

            // control variables
            let currentPage = 1;
            const limit = 20;
            let total = 0;


            window.addEventListener('scroll', () => {
                const {
                    scrollTop,
                    scrollHeight,
                    clientHeight
                } = document.documentElement;

                if (scrollTop + clientHeight >= (scrollHeight - 500) &&
                    hasMoreQuotes(currentPage, limit, total)) {
                    currentPage++;
                    loadQuotes(currentPage, limit);
                }
            }, {
                passive: true
            });

            // initialize
            loadQuotes(currentPage, limit);

        })();
    </script>
}
