@using DoctorManagement.Data.Enums
@using DoctorManagement.ViewModels.Catalog.Appointment
@using DoctorManagement.ViewModels.Catalog.Post
@using DoctorManagement.ViewModels.Catalog.Schedule
@using DoctorManagement.ViewModels.Common
@model DoctorManagement.ViewModels.System.Doctors.DoctorVm
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 0;
    List<DoctorScheduleClientsVm> schedules = (List<DoctorScheduleClientsVm>)ViewBag.GetScheduleDoctor;
    var check = (bool)ViewBag.CheckPostInfo;
    var posts = (PagedResult<PostVm>)ViewBag.Posts;
    var ratings = (PagedResult<AppointmentVm>)ViewBag.Ratings;
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@section Stylesheet{

    <style>
        .root-layout[_ngcontent-serverApp-c55] {
            background-color: #f6f6f6
        }
    </style>
    <style>
        .offcanvas-backdrop[_ngcontent-serverApp-c50] {
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 30;
            height: 100vh;
            width: 100vw;
            background-color: #1f293799
        }

        #primary-menu[_ngcontent-serverApp-c50] .nav-link[_ngcontent-serverApp-c50] {
            display: flex;
            border-radius: .5rem;
            padding: 1rem
        }

        #primary-menu[_ngcontent-serverApp-c50] .nav-link[_ngcontent-serverApp-c50]:hover {
            background-color: #1a76e30d;
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }

        @@media (min-width: 782px) {
            #primary-menu[_ngcontent-serverApp-c50] .nav-link[_ngcontent-serverApp-c50]:hover {
                background-color: inherit
            }
        }

        #primary-menu[_ngcontent-serverApp-c50] .dropdown-footer[_ngcontent-serverApp-c50] .dropdown-item[_ngcontent-serverApp-c50] {
            display: none;
            border-radius: 0;
            --tw-bg-opacity: 1;
            background-color: rgb(249 250 251 / var(--tw-bg-opacity));
            padding: 1.5rem;
            font-weight: 400
        }

        #primary-menu[_ngcontent-serverApp-c50] .dropdown-footer[_ngcontent-serverApp-c50] .dropdown-item[_ngcontent-serverApp-c50]:hover {
            --tw-bg-opacity: 1;
            background-color: rgb(249 250 251 / var(--tw-bg-opacity))
        }

        @@media (min-width: 782px) {
            #primary-menu[_ngcontent-serverApp-c50] .dropdown-footer[_ngcontent-serverApp-c50] .dropdown-item[_ngcontent-serverApp-c50] {
                display: block
            }
        }

        #primary-menu[_ngcontent-serverApp-c50] .dropdown-item[_ngcontent-serverApp-c50] {
            display: flex;
            border-radius: .5rem;
            padding: 1rem
        }

        #primary-menu[_ngcontent-serverApp-c50] .dropdown-item[_ngcontent-serverApp-c50]:hover {
            background-color: #1a76e30d;
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }

        #primary-menu[_ngcontent-serverApp-c50] .dropdown-toggle[_ngcontent-serverApp-c50] {
            display: none !important
        }

        @@media (min-width: 782px) {
            #primary-menu[_ngcontent-serverApp-c50] .dropdown-toggle[_ngcontent-serverApp-c50] {
                display: flex !important
            }
        }

        @@media (max-width: 782px) {
            .collapse[_ngcontent-serverApp-c50]:not(.show) {
                display: none
            }
        }

        .accordion-button[_ngcontent-serverApp-c50]:not(.collapsed) .collapse-control[_ngcontent-serverApp-c50] {
            --tw-rotate: 180deg;
            transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
        }

        @@media (min-width: 782px) {
            .md\:collapse[_ngcontent-serverApp-c50]:not(.show) {
                display: none
            }

            .dropdown-toggle[_ngcontent-serverApp-c50] {
                position: relative
            }

            .dropdown-toggle[_ngcontent-serverApp-c50]:after {
                border-color: #2c2c2c;
                border-style: solid;
                border-width: 0 1px 1px 0;
                content: "";
                display: flex;
                height: 6px;
                margin-top: -3px;
                position: absolute;
                right: 4px;
                top: 50%;
                transform: rotate(45deg);
                transform-origin: 75% 75%;
                transition: transform .1s ease;
                width: 6px
            }
        }

        @@media (min-width: 1024px) {
            .lg\:collapse[_ngcontent-serverApp-c50]:not(.show) {
                display: none
            }
        }
    </style>
    <style>
        [_nghost-serverApp-c54] .ant-collapse-content-box {
            padding: 0 !important
        }

        nz-collapse-panel[_ngcontent-serverApp-c54] {
            padding: 0 !important
        }

        [_nghost-serverApp-c54] .ant-collapse-header {
            cursor: pointer !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
            padding-top: 1.5rem !important;
            padding-bottom: 1.5rem !important;
            font-size: .875rem !important;
            line-height: 1.25rem !important;
            font-weight: 600 !important;
            color: currentColor !important
        }

        @@media (min-width: 782px) {
            [_nghost-serverApp-c54] .ant-collapse-header {
                cursor: auto !important
            }

            nz-collapse-panel[_ngcontent-serverApp-c54] {
                border-style: none !important
            }
        }

        a[_ngcontent-serverApp-c54]:hover {
            color: currentColor
        }
    </style>
    <style>
        [_nghost-serverApp-c188] .ant-steps-item-icon {
            float: none !important
        }

        [_nghost-serverApp-c188] .ant-steps-item-tail {
            display: none !important
        }
    </style>
    <style>
        [_nghost-serverApp-c187] .ant-steps {
            align-items: stretch
        }

        @@media (min-width: 782px) {
            [_nghost-serverApp-c187] .ant-steps-item {
                margin-top: 1rem
            }
        }

        [_nghost-serverApp-c187] .ant-steps-item.ant-steps-item-active .ant-steps-item-icon {
            --tw-border-opacity: 1 !important;
            border-color: rgb(26 118 227 / var(--tw-border-opacity)) !important;
            --tw-bg-opacity: 1 !important;
            background-color: rgb(26 118 227 / var(--tw-bg-opacity)) !important;
            --tw-text-opacity: 1 !important;
            color: rgb(255 255 255 / var(--tw-text-opacity)) !important
        }

        [_nghost-serverApp-c187] .ant-steps-item.ant-steps-item-active .ant-steps-item-icon .ant-steps-icon {
            --tw-text-opacity: 1 !important;
            color: rgb(255 255 255 / var(--tw-text-opacity)) !important
        }

        [_nghost-serverApp-c187] .ant-steps-item .ant-steps-item-icon {
            position: absolute;
            top: .75rem;
            left: .75rem
        }

        [_nghost-serverApp-c187] .ant-steps-item .step-button {
            display: flex;
            flex: 1 1 0%;
            align-items: center;
            justify-content: space-between;
            padding-top: .75rem;
            padding-left: 2.75rem
        }

        [_nghost-serverApp-c187] .ant-steps-item .ant-steps-item-container {
            --tw-bg-opacity: 1;
            background-color: rgb(255 255 255 / var(--tw-bg-opacity))
        }

        @@media (min-width: 782px) {
            [_nghost-serverApp-c187] .ant-steps-item .ant-steps-item-container {
                border-radius: .5rem
            }
        }

        [_nghost-serverApp-c187] .ant-steps-item .ant-steps-item-container .ant-steps-item-title {
            display: flex
        }

        [_nghost-serverApp-c187] .ant-steps-item .ant-steps-item-content {
            min-height: auto
        }
    </style>
    <style>
        .form-control[_ngcontent-serverApp-c174] {
            margin-top: .25rem;
            display: block;
            width: 100%;
            border-radius: .375rem;
            border-width: 1px;
            --tw-border-opacity: 1;
            border-color: rgb(229 231 235 / var(--tw-border-opacity));
            padding: .5rem .75rem .5rem 2rem;
            --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
            --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
        }

        .form-control[_ngcontent-serverApp-c174]::placeholder {
            font-size: .875rem;
            line-height: 1.25rem
        }

        .form-control[_ngcontent-serverApp-c174]:focus {
            --tw-border-opacity: 1;
            border-color: rgb(26 118 227 / var(--tw-border-opacity));
            --tw-ring-opacity: 1;
            --tw-ring-color: rgb(26 118 227 / var(--tw-ring-opacity))
        }
    </style>
    <style>
        .wrapper-main[_ngcontent-serverApp-c67] {
            background: linear-gradient(90deg, #00c6fb 0%, #0758d8 98.74%)
        }

        @@media only screen and (max-width: 767px) {
            .banner-navigation[_ngcontent-serverApp-c67] {
                background: white
            }
        }

        .selected[_ngcontent-serverApp-c67] {
            --tw-bg-opacity: 1;
            background-color: rgb(255 255 255 / var(--tw-bg-opacity));
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }
    </style>
    <style>
        .see-more-box[_ngcontent-serverApp-c192] {
            background: linear-gradient(0deg, #ffffff 50%, rgba(255, 255, 255, 0) 88.64%);
            z-index: 3
        }

        .expanded[_ngcontent-serverApp-c192] {
            height: 850px;
            transition: height 1.25s linear
        }

        .not-expanded[_ngcontent-serverApp-c192] {
            height: auto
        }
    </style>
    <style>
        [nz-carousel-content][_ngcontent-serverApp-c68] {
            overflow: hidden
        }
    </style>
    <style>
        .main-search[_ngcontent-serverApp-c64] {
            margin: 0;
            display: block;
            width: 100%;
            flex: 1 1 0%;
            border-radius: .5rem;
            border-color: transparent;
            padding: .75rem 2.25rem .75rem .75rem;
            font-size: 1rem;
            line-height: 1.5rem
        }

        .main-search[_ngcontent-serverApp-c64]::placeholder {
            font-size: .875rem;
            line-height: 1.25rem
        }

        .main-search[_ngcontent-serverApp-c64]:focus {
            --tw-border-opacity: 1;
            border-color: rgb(26 118 227 / var(--tw-border-opacity));
            outline: 2px solid transparent;
            outline-offset: 2px
        }

        @@media (min-width: 782px) {
            .main-search[_ngcontent-serverApp-c64] {
                padding-right: .75rem;
                padding-left: 3rem
            }
        }

        .main-search[_ngcontent-serverApp-c64]::-webkit-calendar-picker-indicator {
            display: none !important
        }
    </style>
    <style>
        .bookmark_hospital[_ngcontent-serverApp-c66]::-webkit-scrollbar {
            background: transparent;
            width: 0px
        }
    </style>
    <style>
        .typical-doctor-card[_ngcontent-serverApp-c189] {
            box-shadow: 0 1px 2px #0000001a, 0 1px 1px #0000000f
        }

        .btn-booking-primary[_ngcontent-serverApp-c189] {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            width: 124px;
            height: 41px;
            left: 0px;
            top: 0px;
            background: #eff6ff;
            border: 1px solid #eff6ff;
            box-sizing: border-box;
            box-shadow: 0 1px 1px #0000000d;
            border-radius: 4px;
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0
        }

        .limit-line-break[_ngcontent-serverApp-c189] {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            line-height: 16px;
            max-height: 32px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical
        }
    </style>
    <style>
        .ant-collapse-borderless[_ngcontent-serverApp-c200]>.ant-collapse-item[_ngcontent-serverApp-c200] {
            border: none !important
        }

        .profile-card[_ngcontent-serverApp-c200] .ant-tabs-nav {
            margin-bottom: 0
        }

        .profile-card[_ngcontent-serverApp-c200] .ant-tabs-tab {
            border-top-width: 4px;
            border-color: transparent
        }

        .profile-card[_ngcontent-serverApp-c200] .ant-tabs-tab .ant-tabs-tab-btn:hover {
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }

        .profile-card[_ngcontent-serverApp-c200] .ant-tabs-tab.ant-tabs-tab-active {
            --tw-border-opacity: 1;
            border-top-color: rgb(26 118 227 / var(--tw-border-opacity))
        }

        .profile-card[_ngcontent-serverApp-c200] .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }
    </style>
    <style>
        [_nghost-serverApp-c252] .ant-tabs-nav-list {
            width: 100%;
            --tw-text-opacity: 1;
            color: rgb(31 41 55 / var(--tw-text-opacity))
        }

        [_nghost-serverApp-c252] .ant-tabs-nav-list .tab-link:hover {
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }

        [_nghost-serverApp-c252] .ant-tabs-nav-list .ant-tabs-tab {
            width: 50%;
            justify-content: center
        }

        [_nghost-serverApp-c252] .ant-tabs-nav-list .ant-tabs-tab .ant-tabs-tab-btn {
            font-size: .875rem;
            line-height: 1.25rem;
            font-weight: 500
        }

        [_nghost-serverApp-c252] .ant-tabs-nav-list .ant-tabs-tab .ant-tabs-tab-btn:hover {
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }

        [_nghost-serverApp-c252] .ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }

        .form-control[_ngcontent-serverApp-c252] {
            display: block;
            width: 100%;
            border-radius: .375rem;
            border-width: 1px;
            --tw-border-opacity: 1;
            border-color: rgb(229 231 235 / var(--tw-border-opacity));
            padding: .5rem .75rem;
            --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
            --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
        }

        .form-control[_ngcontent-serverApp-c252]::placeholder {
            font-size: .875rem;
            line-height: 1.25rem
        }

        .form-control[_ngcontent-serverApp-c252]:focus {
            --tw-border-opacity: 1;
            border-color: rgb(26 118 227 / var(--tw-border-opacity));
            --tw-ring-opacity: 1;
            --tw-ring-color: rgb(26 118 227 / var(--tw-ring-opacity))
        }

        .form-label[_ngcontent-serverApp-c252] {
            margin-bottom: .25rem;
            display: block;
            font-size: .875rem;
            line-height: 1.25rem;
            font-weight: 500;
            --tw-text-opacity: 1;
            color: rgb(55 65 81 / var(--tw-text-opacity))
        }

        .ant-form-item[_ngcontent-serverApp-c252] {
            margin-right: 0
        }
    </style>
    <style>
        .form-control[_ngcontent-serverApp-c251] {
            display: block;
            width: 100%;
            flex: 1 1 0%;
            border-radius: 0;
            border-top-right-radius: .375rem;
            border-bottom-right-radius: .375rem;
            border-width: 1px;
            --tw-border-opacity: 1;
            border-color: rgb(229 231 235 / var(--tw-border-opacity));
            padding: .5rem .75rem
        }

        .form-control[_ngcontent-serverApp-c251]::placeholder {
            font-size: .875rem;
            line-height: 1.25rem
        }

        .form-control[_ngcontent-serverApp-c251]:focus {
            --tw-border-opacity: 1;
            border-color: rgb(26 118 227 / var(--tw-border-opacity));
            --tw-ring-opacity: 1;
            --tw-ring-color: rgb(26 118 227 / var(--tw-ring-opacity))
        }

        .form-label[_ngcontent-serverApp-c251] {
            margin-bottom: .25rem;
            display: block;
            font-size: .875rem;
            line-height: 1.25rem;
            font-weight: 500;
            --tw-text-opacity: 1;
            color: rgb(55 65 81 / var(--tw-text-opacity))
        }

        .ant-form-item[_ngcontent-serverApp-c251] {
            flex-direction: column;
            margin: 0
        }
    </style>
    <style type="text/css"></style>
    <style>
        .tab-item[_ngcontent-serverApp-c234] {
            border-bottom: 3px solid transparent;
            white-space: nowrap;
            padding: 1rem;
            font-weight: 500
        }

        .tab-item[_ngcontent-serverApp-c234]:hover,
        .tab-item.active[_ngcontent-serverApp-c234] {
            --tw-border-opacity: 1;
            border-color: rgb(26 118 227 / var(--tw-border-opacity));
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }
    </style>
    <style>
        .hiden{
            visibility: hidden; height: 0px;width:0px; 
        }
        .hiden-btn{display:none;}
        .container {
            overflow-x: hidden;
            display: flex;
          }
          .section {
            display: flex;
            justify-content: center;
            align-items: center;
          }
    </style>
    <style>
        @@media (min-width: 768px)
        .list-article {
            grid-column: span 8;
        }
        .block-card {
            display: flex;
            flex-direction: column;
            flex: 1;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            transform: translate3d(0, 0, 0);
            background: #fff;
            min-height: 0;
            z-index: 0;
            overflow: hidden;
            border-radius: 9px;
            border: 1px solid #e2e8f0;
        }
        .block-card {
            margin: 0;
            border: 1px solid #e2e8f0;
            box-shadow: 5px 5px 0 rgb(0 0 0 / 3%);
            background-color: #fff;
        }
        @@media (min-width: 768px)
        .block-card {
            margin: 0.625rem;
            box-shadow: 5px 5px 0 rgb(0 0 0 / 3%);
        }
        .list-article article {
            margin-bottom: 1rem;
            flex-direction: row-reverse;
        }
        a, a:active, a:focus, a:hover {
            outline: 0;
            text-decoration: none;
        }
        .ant-btn, [role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
            touch-action: manipulation;
        }
        a {
            color: #1890ff;
            background-color: transparent;
            cursor: pointer;
            transition: color .3s;
            -webkit-text-decoration-skip: objects;
        }
        a {
            color: inherit;
            text-decoration: inherit;
        }
        a {
            color: #1e293b;
            text-decoration: none;
        }

        a {
            color: inherit;
            text-decoration: inherit;
        }

        .block-card>a {
            display: inline-grid;
        }

        article > *:not(.entry-content), .entry-content > * {
            margin-left: auto;
            margin-right: auto;
            max-width: 1024px;
        }
        article > *:not(.entry-content), .entry-content > * {
            margin-left: 0;
            margin-right: 0;
            max-width: 1024px;
        }
        .list-article article>a {
            display: flex;
            justify-items: center;
        }

        .card-image {
            position: relative;
        }
        .list-article article .card-image {
            margin: 1rem 1rem 1rem 0;
            -o-object-fit: cover;
            object-fit: cover;
            width: 200px;
            height: 150px;
            border-radius: 8px;
        }
        article > *:not(.entry-content), .entry-content > * {
            margin-left: auto;
            margin-right: auto;
            max-width: 1024px;
        }
        article > *:not(.entry-content), .entry-content > * {
            margin-left: 0;
            margin-right: 0;
            max-width: 1024px;
        }
        .block-card .block-card-body {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: space-between;
        }
        h2 {
            
            font-size: 1.25rem;
            font-weight: 700;
            letter-spacing: -0.025em;
        }

        .post-title {
            font-size: 1.25rem;
        }
        a, a:active, a:focus, a:hover {
            outline: 0;
            text-decoration: none;
        }
        .ant-btn, [role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
            touch-action: manipulation;
        }
        a {
            color: #1890ff;
            background-color: transparent;
            cursor: pointer;
            transition: color .3s;
            -webkit-text-decoration-skip: objects;
        }
        a {
            color: inherit;
            text-decoration: inherit;
        }
        .font-serif {
            font-family: "Merriweather",serif;
        }
        .line-clamp-2 {
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
        .line-clamp-2 {
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
        .block-card .block-card-body .post-excerpt {
            margin: 10px 0;
        }
        .entry-content strong {
            font-weight: normal;
        }
        article > *:not(.entry-content), .entry-content > * {
            margin-left: 0;
            margin-right: 0;
            max-width: 1024px;
        }
        .entry-content p, .entry-content ul, .entry-content ol, .block-editor-block-list__layout p, .block-editor-block-list__layout ul, .block-editor-block-list__layout ol {
            margin-bottom: 2rem;
        }
        .article-author {
            display: flex;
            flex-wrap: wrap;
        }
        .article-author a {
            display: inline-flex;
            text-decoration: none;
            font-weight: 700;
            color: #0ea5e9;
        }
        .block-card .block-card-body .article-author a {
            color: #475569;
            font-size: .8125rem;
            font-weight: 600;
            line-height: 1.538;
        }
        .pagination {
            margin: 2rem 0;
        }
        .pagination .nav-links {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .pagination .nav-links:last-child {
            margin-right: 0;
        }
        .pagination .page-numbers {
            display: block;
            align-items: center;
            border: 1px solid #dadce0;
            background-color: rgba(255,255,255,.4);
            border-radius: 4px;
            box-shadow: 5px 5px 0 rgb(0 0 0 / 3%);
            padding: 0.75rem 1rem;
            margin-right: 0.5rem;
            transition: all .15s ease-in-out;
        }
        @@media (min-width: 640px)
        .pagination .page-numbers {
            display: flex;
        }
        .pagination .page-numbers:hover, .pagination .page-numbers:focus, .pagination .page-numbers.current {
            background-color: #2271b1;
            border-color: #2271b1;
            box-shadow: 5px 5px 0 rgb(34 113 177 / 3%);
            color: #fff;
        }
        .pagination .page-numbers:hover, .pagination .page-numbers:focus, .pagination .page-numbers.current {
            background-color: #2271b1;
            border-color: #2271b1;
            box-shadow: 5px 5px 0 rgb(34 113 177 / 3%);
            color: #fff;
        }
    </style>
    <style>
     
        .shopee-product-rating {
            border-bottom: 1px solid rgba(0,0,0,.09);
            display: flex;
            padding: 1rem 0 1rem 1.25rem;
        }

        .shopee-product-rating__avatar {
            width: 2.5rem;
            margin-right: 0.625rem;
            text-align: center;
        }

        .shopee-avatar {
            display: inline-block;
            width: 1.875rem;
            height: 1.875rem;
            position: relative;
            border-radius: 50%;
            border: 0.0625rem solid rgba(0,0,0,.09);
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .shopee-product-rating__avatar .shopee-avatar {
            border: 0;
            width: 2.5rem;
            height: 2.5rem;
        }

        .shopee-avatar__placeholder {
            width: 100%;
            position: relative;
            padding-top: 100%;
            background-color: #f5f5f5;
            border-radius: 50%;
            overflow: hidden;
        }
        .shopee-avatar__img, .shopee-avatar__img-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
        }
        .shopee-avatar__img {
            border-radius: 50%;
        }
        svg:not(:root) {
            overflow: hidden;
        }
        .shopee-avatar__placeholder .icon-headshot {
            stroke: #c6c6c6;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 2rem;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        .shopee-product-rating__main {
            flex: 1;
        }
        .shopee-product-rating__author-name {
            text-decoration: none;
            color: rgba(0,0,0,.87);
            font-size: .75rem;
        }
        .shopee-product-rating__main .repeat-purchase-con {
            display: flex;
        }
        .shopee-product-rating__rating {
            margin-top: 0.375rem;
        }
        .shopee-svg-icon {
            display: inline-block;
            width: 1em;
            height: 1em;
            fill: currentColor;
            position: relative;
        }
        svg:not(:root) {
            overflow: hidden;
        }
        .shopee-product-rating__rating .icon-rating-solid {
            margin-right: 0.125rem;
            color: #ee4d2d;
        }
        .shopee-product-rating__time {
            margin-top: 0.75rem;
            font-size: .75rem;
            color: rgba(0,0,0,.54);
        }
        .Em3Qhp {
            position: relative;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0.9375rem 0;
            font-size: .875rem;
            line-height: 1.25rem;
            color: rgba(0,0,0,.87);
            word-break: break-word;
            white-space: pre-wrap;
        }
        .shopee-product-rating__tags {
            display: flex;
            flex-wrap: wrap;
        }
        .shopee-product-rating__rating .icon-rating {
            color: #ee4d2d;
            margin-right: 0.125rem;
            stroke: currentColor;
        }
        .shopee-product-rating__tags {
            display: flex;
            flex-wrap: wrap;
        }
        .shopee-product-rating__tag {
            color: rgba(0,0,0,.4);
            border: 1px solid rgba(0,0,0,.4);
            border-radius: 0.9375rem;
            padding: 0.25rem 0.625rem;
            cursor: default;
            text-overflow: ellipsis;
            word-break: break-word;
            max-width: 100%;
            margin-bottom: 0.3125rem;
        }
        .shopee-product-rating__tag:not(:last-child) {
            margin-right: 0.625rem;
        }
        
    </style>

}

<ng-component _nghost-serverapp-c200="" class="ng-star-inserted">
                <section _ngcontent-serverapp-c200="" class="bg-gray-100 lg:pb-10">
                    <div _ngcontent-serverapp-c200="" class="hidden md:block max-w-7xl mx-auto lg:px-4">
                        <nz-breadcrumb _ngcontent-serverapp-c200="" nzseparator="/"
                            class="hidden md:block ant-breadcrumb py-4 text-sm">
                            <nz-breadcrumb-item _ngcontent-serverapp-c200=""><span
                                    class="ant-breadcrumb-link ng-star-inserted"><span _ngcontent-serverapp-c200=""
                                        class="ant-breadcrumb-link"><a _ngcontent-serverapp-c200="" routerlink="/"
                                            href="/">Trang chủ</a></span></span>
                                <span class="ant-breadcrumb-separator ng-star-inserted"> /
                                </span>
                                
                            </nz-breadcrumb-item>
                            <nz-breadcrumb-item _ngcontent-serverapp-c200=""><span
                                    class="ant-breadcrumb-link ng-star-inserted"><span _ngcontent-serverapp-c200=""
                                        class="ant-breadcrumb-link"><a _ngcontent-serverapp-c200="" asp-action="Doctor" asp-controller="Home">Bác sĩ</a></span></span>
                                <span class="ant-breadcrumb-separator ng-star-inserted"> /
                                </span>
                            </nz-breadcrumb-item>
                            <nz-breadcrumb-item _ngcontent-serverapp-c200=""><span
                                    class="ant-breadcrumb-link ng-star-inserted"><span _ngcontent-serverapp-c200=""
                                        class="ant-breadcrumb-link"><a _ngcontent-serverapp-c200=""
                                            href="#">@(Model.LastName + " " + Model.FirstName)</a></span></span>
                                <span class="ant-breadcrumb-separator ng-star-inserted"> /
                                </span>
                            </nz-breadcrumb-item>
                        </nz-breadcrumb>
                    </div>
                    <div _ngcontent-serverapp-c200="" class="max-w-7xl mx-auto">
                        <div _ngcontent-serverapp-c200="" class="md:grid md:grid-cols-12 md:gap-px lg:gap-4">
                            <div _ngcontent-serverapp-c200="" class="md:col-span-7 md:grid-rows-3 lg:col-span-8">
                                <app-info-doctor _ngcontent-serverapp-c200="" _nghost-serverapp-c195=""
                                    class="ng-star-inserted">
                                    <div _ngcontent-serverapp-c195="" class="bg-white p-4 flex flex-col xs:flex-row justify-center md:items-center gap-4 items-stretch lg:rounded-lg ng-star-inserted">
                                        <img _ngcontent-serverapp-c195="" defaultimage="~/img//placeholder.webp"
                                            width="120" height="120"
                                            class="rounded-full w-32 h-32 border object-cover ring-1 ring-slate-100 mx-auto  ng-lazyloaded"
                                            alt="@(Model.Prefix + Model.LastName + " " + Model.FirstName)"
                                            src="@(Configuration["BaseAddress"] + "/img/" + Model.Img)">
                                        <div _ngcontent-serverapp-c195=""  class="flex-1 flex flex-row gap-4 justify-between">
                                            <div _ngcontent-serverapp-c195="" class="flex-1">
                                                <div _ngcontent-serverapp-c195="" class="text-gray-800"><span
                                                        _ngcontent-serverapp-c195=""
                                                        class="font-medium text-sm ng-star-inserted">@Model.Prefix</span>
                                                    
                                                    <h1 _ngcontent-serverapp-c195=""
                                                        class="text-lg text-primary leading-6 font-semibold">@(Model.LastName + " " + Model.FirstName)
                                                    </h1>
                                                </div>
                                                <p _ngcontent-serverapp-c195="" class="text-sm mt-2 text-gray-600">
                                                    Chuyên khoa:
                                                @foreach(var item in Model.GetSpecialities)
                                                {
                                                    if (item.Title == Model.GetSpecialities[Model.GetSpecialities.Count - 1].Title)@(item.Title)else @(item.Title+", ")
                                                }
                                                </p>
                                                <p _ngcontent-serverapp-c195=""
                                                    class="text-sm font-medium text-gray-800">Phòng khám: @Model.GetClinic.Name</p>
                                            </div>
                                            <div _ngcontent-serverapp-c195=""  class="flex-none self-center p-2 border rounded-full">
                                                @{
                                                    var rating = Model.Rates.Count!=0?  Model.Rates.Sum(x=>x.Rating)/Model.Rates.Count():0;
                                                    var count = Model.Rates.Count;
                                                    var ratingtext = count >= 1000000000 ? (count / 1000000000) + "B" :count >= 1000000 ? (count / 1000000) + "M" : count >= 1000 ? (count / 1000) + "K" : count.ToString();
                                                }
                                                <p style="width: 100%; margin-right: auto; margin-left: auto; text-align: center;">@rating/@ratingtext đánh giá</p>
                                                <div class="repeat-purchase-con">
                                                    <div class="shopee-product-rating__rating">
                                                        @for(int r = 0; r <= 4;r++){
                                                            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"
                                                                class="shopee-svg-icon @(r<rating?"icon-rating-solid--active icon-rating-solid":"icon-rating")  ">
                                                                <polygon @(r<rating?"":"fill=none") points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4"
                                                                    stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon>
                                                            </svg>

                                                        }
                                                      
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </app-info-doctor>
                                
                                
                            </div>
                            <div _ngcontent-serverapp-c200=""
                                class="relative bg-white p-2 md:col-span-5 md:space-y-6 lg:col-span-4 md:row-span-3 lg:bg-transparent lg:p-0 ng-star-inserted">
                                
                                <nz-collapse _ngcontent-serverapp-c200=""
                                    class="ant-collapse lg:sticky lg:top-20 bg-white border lg:border-0 rounded-lg overflow-hidden ant-collapse-icon-position-left ant-collapse-borderless ng-star-inserted">
                                    <nz-collapse-panel _ngcontent-serverapp-c200=""
                                        class="ant-collapse-item ng-tns-c53-84 ant-collapse-no-arrow ng-star-inserted ant-collapse-item-active">
                                        <div role="button" class="ant-collapse-header ng-tns-c53-84" aria-expanded="true">
                                            
                                            <div _ngcontent-serverapp-c200="" class="px-1 ng-star-inserted">
                                                <h2 _ngcontent-serverapp-c200="" class="font-semibold text-sm">Đặt khám tại phòng khám</h2>
                                            </div>
                                            
                                            <div class="ant-collapse-extra ng-tns-c53-84 ng-star-inserted"><svg _ngcontent-serverApp-c200=""
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20
                                                            20" fill="currentColor"
                                                    class="h-5 w-5 text-gray-500 transition flex-none ng-star-inserted rotate-180">
                                                    <path _ngcontent-serverApp-c200="" fill-rule="evenodd"
                                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                        clip-rule="evenodd"></path>
                                                </svg>
                                                
                                            </div>
                                            
                                        </div>
                                        <div class="ant-collapse-content ng-tns-c53-84 ng-trigger ng-trigger-collapseMotion ant-collapse-content-active"
                                            style="">
                                            @if(Model.Note!=null){
                                                <div _ngcontent-serverapp-c253="" class="ng-star-inserted" style="    margin: 0 10px;">
                                                    <div _ngcontent-serverapp-c253="" class="flex flex-row items-center">
                                                        <svg _ngcontent-serverApp-c253="" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path _ngcontent-serverApp-c253="" d="M3.24343 4.33294L3.24379 4.33273L7.19485 2.04737C7.19521 2.04717 7.19557 2.04696 7.19593 2.04675C7.69613 1.76143 8.30593 1.76291 8.79675 2.04625C8.79676 2.04626 8.79677 2.04626 8.79679 2.04627L12.7535 4.331C12.754 4.3313 12.7545 4.3316 12.755 4.33191C13.2495 4.62321 13.5543 5.14695 13.5601 5.72223V10.2799C13.5601 10.8556 13.2545 11.3834 12.7635 11.6669L12.7634 11.6669L8.80537 13.9525C8.80505 13.9527 8.80472 13.9528 8.80439 13.953C8.30417 14.2384 7.6943 14.237 7.20343 13.9536L3.24518 11.6679C2.7506 11.3765 2.44678 10.8468 2.44678 10.2799V5.71992C2.44678 5.1442 2.75236 4.61645 3.24343 4.33294ZM8.827 11.6601L8.83629 11.6508L8.84509 11.6411C8.94153 11.5339 9.01918 11.4128 9.07498 11.2789C9.12963 11.1477 9.16678 10.9958 9.16678 10.8333C9.16678 10.6734 9.13085 10.5238 9.07769 10.3942C9.01646 10.2377 8.93158 10.1215 8.84509 10.0254L8.83629 10.0157L8.827 10.0064C8.50056 9.67993 7.99421 9.57288 7.55779 9.75695C7.40294 9.81808 7.28773 9.90238 7.1923 9.98827L7.18252 9.99707L7.17322 10.0064C6.94754 10.232 6.83344 10.5349 6.83344 10.8333C6.83344 10.9696 6.85425 11.1245 6.91857 11.2789L6.9252 11.2948L6.9329 11.3102C6.98806 11.4205 7.0585 11.5337 7.15513 11.6411L7.17274 11.6606L7.1923 11.6782C7.28839 11.7647 7.40454 11.8496 7.56102 11.9108C7.69066 11.964 7.84029 11.9999 8.00011 11.9999C8.30776 11.9999 8.60311 11.884 8.827 11.6601ZM8.00011 4.16659C7.45064 4.16659 7.00011 4.61711 7.00011 5.16659V8.66659C7.00011 9.21606 7.45064 9.66659 8.00011 9.66659C8.54959 9.66659 9.00011 9.21606 9.00011 8.66659V5.16659C9.00011 4.61711 8.54959 4.16659 8.00011 4.16659Z" fill="#F97316" stroke="#F97316">
                                                            </path>
                                                        </svg>
                                                        <label _ngcontent-serverapp-c253="" class="ml-1 font-medium">Lưu ý</label>
                                                    </div>
                                                    <div _ngcontent-serverapp-c253="" class="text-sm text-gray-800 max-h-32 overflow-y-auto hide-scroll-bar"> 
                                                    @Html.Raw(Model.Note)
                                                    </div>
                                                </div>

                                            }
                                            <div class="ant-collapse-content-box ng-tns-c53-84">
                                                
                                                <div _ngcontent-serverapp-c200="" class="ng-star-inserted" style="">
                                                    @if(schedules.Count()!=0){

                                                        <nz-tabset _ngcontent-serverapp-c200="" nzcentered=""
                                                            class="ant-tabs ant-tabs-centered ant-tabs-top ant-tabs-default ng-star-inserted">
                                                            <nz-tabs-nav role="tablist" class="ant-tabs-nav ng-star-inserted" style="">
                                                                <div class="ant-tabs-nav-wrap ant-tabs-nav-wrap-ping-right">
                                                                    <div nztabscrolllist="" class="ant-tabs-nav-list container"
                                                                        style="transform: translate(0px, 0px);">
                                                                        @{
                                                                            i = 1;
                                                                        }
                                                                        @foreach(var item_sche in schedules){
                                                                        
                                                                                <div class="section ant-tabs-tab @(i==1?"ant-tabs-tab-active":"") ng-star-inserted check-tabs" id = "tabday_@i" onclick="tabchoseday(@i)">
                                                                                    <div role="tab" nztabnavitem="" cdkmonitorelementfocus=""
                                                                                        class="ant-tabs-tab-btn" tabindex="@(i==1?"0":"-1")" aria-disabled="false"
                                                                                        aria-selected="true" aria-controls="nz-tabs-27-tab-@i">
                                                                                        <div _ngcontent-serverapp-c200="" class="text-center ng-star-inserted">
                                                                                            <p _ngcontent-serverapp-c200="" class="font-medium text-sm">
                                                                                               @(item_sche.DateTime.ToString("dddd")=="Monday"?"Thứ 2":
                                                                                                            item_sche.DateTime.ToString("dddd")=="Tuesday"?"Thứ 3":
                                                                                                            item_sche.DateTime.ToString("dddd")=="Wednesday"?"Thứ 4":
                                                                                                            item_sche.DateTime.ToString("dddd")=="Thursday"?"Thứ 5":
                                                                                                            item_sche.DateTime.ToString("dddd")=="Friday"?"Thứ 6":
                                                                                                            item_sche.DateTime.ToString("dddd")=="Saturday"?"Thứ 7":"Chủ nhật"),
                                                                                                            @(" "+item_sche.DateTime.ToString("dd/MM"))
                                                                                            </p><span _ngcontent-serverapp-c200=""
                                                                                                class="text-green-500 text-xs"> @item_sche.AvailableQty khung giờ </span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                       
                                                                            i++;
                                                                        }
                                                                        <div nz-tabs-ink-bar="" class="ant-tabs-ink-bar ant-tabs-ink-bar-animated"
                                                                            style="left: 0px; width: 90px;"></div>
                                                                    </div>
                                                                </div>
                                                                <nz-tab-nav-operation class="ant-tabs-nav-operations"><button nz-dropdown=""
                                                                        type="button" tabindex="-1" aria-hidden="true"
                                                                        nzoverlayclassname="nz-tabs-dropdown"
                                                                        class="ant-dropdown-trigger ant-tabs-nav-more"><i nz-icon="" nztype="ellipsis"
                                                                            class="anticon anticon-ellipsis"><svg viewBox="64 64 896 896"
                                                                                focusable="false" fill="currentColor" width="1em" height="1em"
                                                                                data-icon="ellipsis" aria-hidden="true">
                                                                                <path
                                                                                    d="M176 511a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0z">
                                                                                </path>
                                                                            </svg></i></button>
                                                                </nz-tab-nav-operation>
                                                            
                                                            </nz-tabs-nav>
                                                        
                                                            <div class="ant-tabs-content-holder">

                                                                <div class="ant-tabs-content ant-tabs-content-top ant-tabs-content-animated"
                                                                    style="margin-left: 0%;">
                                                                     @{
                                                                            i = 1;
                                                                            var text = "";
                                                                            var img = "";
                                                                            var fromtime = 0;
                                                                            var totime = 0;
                                                                     }
                                                                    @foreach(var item_sche in schedules){
                                                                  
                                                                            <div nz-tab-body="" id ="choseslotday_@i"  class="ant-tabs-tabpane @(i==1?"ant-tabs-tabpane-active":"hiden")  ng-star-inserted check-tab" tabindex="0" aria-hidden="false" style="">
                                                                                <div _ngcontent-serverapp-c200="" class="ng-star-inserted">
                                                                                    @for(var d = 1; d <= item_sche.CountTimeSpan;d++){
                                                                                                    totime = item_sche.ScheduleSlots.FirstOrDefault(x => x.Type == d).ToTime.Hours;
                                                                                                    if( totime  < 12) {text ="Buổi sáng";img = "sun.svg";}else if( totime  < 18){text ="Buổi chiều";img = "sun-fog.svg";}else if( totime  <= 23)
                                                                                                    {text ="Buổi tối";img = "sun-fog.svg";}else {text ="Cả ngày";img = "sun.svg";}
                                                                                        <div _ngcontent-serverapp-c200="" class="ng-star-inserted">
                                                                                            <div _ngcontent-serverapp-c200="" class="mb-2 ng-star-inserted">
                                                                                                <div _ngcontent-serverapp-c200="" class="flex"><img
                                                                                                        _ngcontent-serverapp-c200="" width="20" height="20"
                                                                                                        loading="lazy" src="~/img/booking/svg/@img"
                                                                                                        alt="Buổi sáng">
                                                                                                    <p _ngcontent-serverapp-c200="" class="ml-1 text-sm font-medium text-gray-600">@text</p>
                                                                                                    </div>
                                                                                                    <div _ngcontent-serverapp-c200=""
                                                                                                        class="grid grid-cols-3 gap-2 py-3 max-h-52 overflow-x-auto">
                                                                                                        @foreach(var slot in item_sche.ScheduleSlots){
                                                                                                            if(slot.Type == d){
                                                                                                                <a _ngcontent-serverapp-c200="" appsingleclick="" asp-controller="Booking" asp-action="BookingDoctorSetPatient" asp-route-scheduleid="@slot.Id" asp-route-doctorid="@Model.UserId"
                                                                                                                    class="text-center font-medium border rounded-md py-2 tabular-nums hover:bg-primary hover:text-white hover:border-primary ng-star-inserted">
                                                                                                                    @(slot.FromTime.ToString().Substring(0,5)+"-"+@slot.ToTime.ToString().Substring(0,5))
                                                                                                                </a>
                                                                                                            }
                                                                                                        }
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        }
                                                                                </div>
                                                            </div>
                                                            i++;
                                                                }
                                                                </div>
                                                            </div>
                                                        </nz-tabset>
                                                    }
                                                    else{
                                                        <nz-empty _ngcontent-serverapp-c213="" class="ant-empty p-4 text-gray-600 text-sm ng-star-inserted">
                                                            <div class="ant-empty-image">
                                                                <nz-empty-default class="ng-star-inserted"><svg width="184" height="152" viewBox="0 0 184 152"
                                                                        xmlns="http://www.w3.org/2000/svg" class="ant-empty-img-default">
                                                                        <g fill="none" fill-rule="evenodd">
                                                                            <g transform="translate(24 31.67)">
                                                                                <ellipse cx="67.797" cy="106.89" rx="67.797" ry="12.668" class="ant-empty-img-default-ellipse">
                                                                                </ellipse>
                                                                                <path
                                                                                    d="M122.034 69.674L98.109 40.229c-1.148-1.386-2.826-2.225-4.593-2.225h-51.44c-1.766 0-3.444.839-4.592 2.225L13.56 69.674v15.383h108.475V69.674z"
                                                                                    class="ant-empty-img-default-path-1"></path>
                                                                                <path
                                                                                    d="M101.537 86.214L80.63 61.102c-1.001-1.207-2.507-1.867-4.048-1.867H31.724c-1.54 0-3.047.66-4.048 1.867L6.769 86.214v13.792h94.768V86.214z"
                                                                                    transform="translate(13.56)" class="ant-empty-img-default-path-2"></path>
                                                                                <path
                                                                                    d="M33.83 0h67.933a4 4 0 0 1 4 4v93.344a4 4 0 0 1-4 4H33.83a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4z"
                                                                                    class="ant-empty-img-default-path-3"></path>
                                                                                <path
                                                                                    d="M42.678 9.953h50.237a2 2 0 0 1 2 2V36.91a2 2 0 0 1-2 2H42.678a2 2 0 0 1-2-2V11.953a2 2 0 0 1 2-2zM42.94 49.767h49.713a2.262 2.262 0 1 1 0 4.524H42.94a2.262 2.262 0 0 1 0-4.524zM42.94 61.53h49.713a2.262 2.262 0 1 1 0 4.525H42.94a2.262 2.262 0 0 1 0-4.525zM121.813 105.032c-.775 3.071-3.497 5.36-6.735 5.36H20.515c-3.238 0-5.96-2.29-6.734-5.36a7.309 7.309 0 0 1-.222-1.79V69.675h26.318c2.907 0 5.25 2.448 5.25 5.42v.04c0 2.971 2.37 5.37 5.277 5.37h34.785c2.907 0 5.277-2.421 5.277-5.393V75.1c0-2.972 2.343-5.426 5.25-5.426h26.318v33.569c0 .617-.077 1.216-.221 1.789z"
                                                                                    class="ant-empty-img-default-path-4"></path>
                                                                            </g>
                                                                            <path
                                                                                d="M149.121 33.292l-6.83 2.65a1 1 0 0 1-1.317-1.23l1.937-6.207c-2.589-2.944-4.109-6.534-4.109-10.408C138.802 8.102 148.92 0 161.402 0 173.881 0 184 8.102 184 18.097c0 9.995-10.118 18.097-22.599 18.097-4.528 0-8.744-1.066-12.28-2.902z"
                                                                                class="ant-empty-img-default-path-5"></path>
                                                                            <g transform="translate(149.65 15.383)" class="ant-empty-img-default-g">
                                                                                <ellipse cx="20.654" cy="3.167" rx="2.849" ry="2.815"></ellipse>
                                                                                <path d="M5.698 5.63H0L2.898.704zM9.259.704h4.985V5.63H9.259z"></path>
                                                                            </g>
                                                                        </g>
                                                                    </svg></nz-empty-default>
                                                            </div>
                                                            <p class="ant-empty-description ng-star-inserted"> Bác sĩ hiện tại không có lịch khám
                                                            </p>
                                                        </nz-empty>

                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </nz-collapse-panel>
                                </nz-collapse>
                            </div>
                            <div _ngcontent-serverapp-c200="" class="md:col-span-7 lg:col-span-8">
                                <div _ngcontent-serverapp-c200="" class="profile-card">
                                    <nz-tabset _ngcontent-serverapp-c200="" nztype="card"
                                        class="ant-tabs ant-tabs-card ant-tabs-top ant-tabs-default">
                                        <nz-tabs-nav role="tablist" class="ant-tabs-nav ng-star-inserted">
                                            <div class="ant-tabs-nav-wrap">
                                                <div nztabscrolllist="" class="ant-tabs-nav-list"
                                                    style="transform: translate(0px, 0px);">
                                                    <div class="ant-tabs-tab ng-star-inserted @(check?"":"ant-tabs-tab-active") " id="tab-info"  onclick="tabinfo()" >
                                                        <div role="tab" nztabnavitem="" cdkmonitorelementfocus=""
                                                            class="ant-tabs-tab-btn" tabindex="0" aria-disabled="false"
                                                            aria-selected="true" aria-controls="nz-tabs-15-tab-0">Thông
                                                            tin
                                                        </div>
                                                    </div>
                                                    <div class="ant-tabs-tab ng-star-inserted @(check?"ant-tabs-tab-active":"")" id="tab-post" onclick="tabpost()">
                                                        <div role="tab" nztabnavitem="" cdkmonitorelementfocus=""
                                                            class="ant-tabs-tab-btn" tabindex="-1" aria-disabled="false"
                                                            aria-selected="false" aria-controls="nz-tabs-15-tab-1">Bài
                                                            viết
                                                        </div>
                                                    </div>
                                                    <div nz-tabs-ink-bar="" class="ant-tabs-ink-bar"
                                                        style="left: 0px; width: 97px;"></div>
                                                </div>
                                            </div>
                                            <nz-tab-nav-operation
                                                class="ant-tabs-nav-operations ant-tabs-nav-operations-hidden"><button
                                                    nz-dropdown="" type="button" tabindex="-1" aria-hidden="true"
                                                    nzoverlayclassname="nz-tabs-dropdown"
                                                    class="ant-dropdown-trigger ant-tabs-nav-more"><i nz-icon=""
                                                        nztype="ellipsis" class="anticon anticon-ellipsis"><svg
                                                            viewBox="64 64 896 896" focusable="false"
                                                            fill="currentColor" width="1em" height="1em"
                                                            data-icon="ellipsis" aria-hidden="true">
                                                            <path
                                                                d="M176 511a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0z">
                                                            </path>
                                                        </svg></i></button>
                                            </nz-tab-nav-operation>
                                        </nz-tabs-nav>
                                        <div class="ant-tabs-content-holder">
                                            <div class="ant-tabs-content ant-tabs-content-top">
                                                <div nz-tab-body="" id="any-tab-info"class="ant-tabs-tabpane ng-star-inserted  @(check?"hiden":"ant-tabs-tabpane-active ")"
                                                    tabindex="0" aria-hidden="false" style="">
                                                    <div _ngcontent-serverapp-c200=""
                                                        class="bg-white flex justify-between px-4 py-4 lg:px-6 lg:rounded-tr-lg ng-star-inserted"
                                                        style="">
                                                        <div _ngcontent-serverapp-c200="" class="flex items-center"><img
                                                                _ngcontent-serverapp-c200="" width="18" height="18"
                                                                src="~/img//booking/svg/route.svg" alt="Địa chỉ"
                                                                class="mr-1"> @(Model.FullAddress ) </div><a _ngcontent-serverapp-c200="" target="_blank"
                                                            class="flex flex-col items-center text-xs md:border-l md:pl-4"
                                                            href="@Model.MapUrl"><img
                                                                _ngcontent-serverapp-c200="" width="24" height="24"
                                                                src="~/img//booking/svg/routing.svg"
                                                                alt="Xem bản đồ">
                                                            <p _ngcontent-serverapp-c200="">Xem bản đồ</p>
                                                        </a>
                                                    </div>
                                                    <div _ngcontent-serverapp-c200=""
                                                        class="bg-white grid grid-cols-1 md:divide-x md:grid-cols-2 lg:grid-cols-3 ng-star-inserted"
                                                        style="">
                                                        <app-services-doctor _ngcontent-serverapp-c200=""
                                                            _nghost-serverapp-c196="" class="ng-star-inserted">
                                                            <div _ngcontent-serverapp-c196="" class="p-4 lg:pl-6">
                                                                <h2 _ngcontent-serverapp-c196=""
                                                                    class="text-sm font-medium">Chuyên khám</h2>
                                                                <div _ngcontent-serverapp-c196=""
                                                                    class="mt-2 ng-star-inserted">
                                                                    @foreach(var item in Model.GetSpecialities)
                                                                    {
                                                                        <div _ngcontent-serverapp-c196=""
                                                                                    class="ng-star-inserted">
                                                                                    <div _ngcontent-serverapp-c196=""
                                                                                        class="flex items-center"><svg
                                                                                            _ngcontent-serverApp-c196="" width="18"
                                                                                            height="18" viewBox="0 0 24 24"
                                                                                            fill="none"
                                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                                            class="flex-none text-gray-500 mr-2">
                                                                                            <path _ngcontent-serverApp-c196=""
                                                                                                d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z"
                                                                                                stroke="currentColor"
                                                                                                stroke-width="1.5"
                                                                                                stroke-linecap="round"
                                                                                                stroke-linejoin="round"></path>
                                                                                            <path _ngcontent-serverApp-c196=""
                                                                                                d="M7.75 11.9999L10.58 14.8299L16.25 9.16992"
                                                                                                stroke="currentColor"
                                                                                                stroke-width="1.5"
                                                                                                stroke-linecap="round"
                                                                                                stroke-linejoin="round"></path>
                                                                                        </svg>
                                                                                        <p _ngcontent-serverapp-c196="">@item.Title</p>
                                                                                    </div>
                                                                        </div>
                                                                    }
                                                                </div>
                                                                
                                                                
                                                            </div>
                                                        </app-services-doctor>
                                                        
                                                        <app-working-time _ngcontent-serverapp-c200=""
                                                            _nghost-serverapp-c197="" class="ng-star-inserted">
                                                            <div _ngcontent-serverapp-c197="" class="p-4">
                                                                <h2 _ngcontent-serverapp-c197=""
                                                                    class="text-sm font-medium">Giờ làm việc</h2>
                                                                @if(Model.TimeWorking!=null){ string[] timewordking = Model.TimeWorking.Split("+");
                                                                    for(var t = 0;t < timewordking.Length;t++){

                                                                        @timewordking[t] <br />

                                                                    }
                                                                }
                                                            </div>
                                                        </app-working-time>
                                                        
                                                        <app-gallery-doctor _ngcontent-serverapp-c200=""
                                                            _nghost-serverapp-c198="" class="ng-star-inserted">
                                                            <div _ngcontent-serverapp-c198=""
                                                                class="p-4 md:col-span-2 lg:col-span-1 ng-star-inserted">
                                                                <h2 _ngcontent-serverapp-c198=""
                                                                    class="text-sm font-medium">Hình ảnh</h2>
                                                                <div _ngcontent-serverapp-c198=""
                                                                    class="mt-2 flex flex-wrap xl:grid xl:grid-cols-3 gap-4">
                                                                    @{i = 1;}
                                                                    @foreach(var item in Model.Galleries)
                                                                    {
                                                                        if (i>=4)
                                                                        {
                                                                            <div _ngcontent-serverapp-c198=""class="cursor-pointer flex items-center justify-center text-base rounded bg-slate-200 w-20 h-20 ng-star-inserted"> <span _ngcontent-serverapp-c198="">1+</span>
                                                                            </div>
                                                                        }
                                                                        else
                                                                        {
                                                                            <div _ngcontent-serverapp-c198=""   class="cursor-pointer ring-1 ring-slate-100 rounded overflow-hidden ng-star-inserted">
                                                                              <img _ngcontent-serverapp-c198="" width="80" height="80" loaing="lazy" alt="img"  class="block w-20 h-20 object-cover  ng-lazyloaded" src="@(Configuration["BaseAddress"] + "/img/" + item.Name)">
                                                                            </div>
                                                                        }
                                                                        i++;
                                                                    }
                                                                </div>
                                                            </div>
                                                        </app-gallery-doctor>
                                                    </div>
                                                    
                                                    <app-intro-doctor _ngcontent-serverapp-c200=""
                                                        _nghost-serverapp-c199="" class="ng-star-inserted" style="">
                                                        <div _ngcontent-serverapp-c199=""
                                                            class="bg-white p-4 lg:p-6 lg:rounded-b-lg ng-star-inserted">
                                                            <h2 _ngcontent-serverapp-c199=""
                                                                class="text-lg font-medium">Giới thiệu về Bác sĩ</h2>
                                                            <div _ngcontent-serverapp-c199="" class="mt-2">
                                                               @Html.Raw(Model.Intro)
                                                            </div><span _ngcontent-serverapp-c199=""
                                                                class="cursor-pointer border-0 bg-white text-primary ng-star-inserted">
                                                                [Thu gọn] </span>
                                                            
                                                        </div>
                                                        
                                                    </app-intro-doctor>
                                                    
                                                    <div _ngcontent-serverapp-c200=""
                                                        class="bg-white mt-2 p-4 lg:mt-4 lg:p-6 lg:rounded-lg  ng-star-inserted"@*hidden*@
                                                        style="">
                                                        <div _ngcontent-serverapp-c200="" class="flex items-center"><img
                                                                _ngcontent-serverapp-c200="" width="20" height="20"
                                                                src="~/img/booking/svg/work.svg"
                                                                alt="Kinh nghiệm" class="mr-1">
                                                            <h2 _ngcontent-serverapp-c200=""
                                                                class="text-lg font-medium">Kinh nghiệm</h2>
                                                        </div>
                                                        <div _ngcontent-serverapp-c200="" class="mt-2">
                                                            @Html.Raw(Model.Experiences)
                                                        </div>
                                                    </div>
                                                    
                                                    <div _ngcontent-serverapp-c200=""
                                                        class="bg-white mt-2 p-4 lg:mt-4 lg:p-6 lg:rounded-lg ng-star-inserted"
                                                        style="">
                                                        <div _ngcontent-serverapp-c200="" class="flex items-center"><img
                                                                _ngcontent-serverapp-c200="" width="20" height="20"
                                                                src="~/img//booking/svg/teacher.svg" alt="Học vấn"
                                                                class="mr-1">
                                                            <h2 _ngcontent-serverapp-c200=""
                                                                class="text-lg font-medium">Học vấn</h2>
                                                        </div>
                                                        <div _ngcontent-serverapp-c200="" class="mt-2 ng-star-inserted">
                                                            @Html.Raw(Model.Educations)
                                                            
                                                        </div>
                                                        
                                                    </div>
                                                    
                                                    <div _ngcontent-serverapp-c200=""
                                                        class="bg-white mt-2 p-4 lg:mt-4 lg:p-6 lg:rounded-lg ng-star-inserted"
                                                        style="">
                                                        <div _ngcontent-serverapp-c200="" class="flex items-center"><img
                                                                _ngcontent-serverapp-c200="" width="20" height="20"
                                                                src="~/img//booking/svg/prizes.svg"
                                                                alt="Giải thưởng" class="mr-1">
                                                            <h2 _ngcontent-serverapp-c200=""
                                                                class="text-lg font-medium">Giải thưởng</h2>
                                                        </div>
                                                        <div _ngcontent-serverapp-c200="" class="mt-2 ng-star-inserted">
                                                            @Html.Raw(Model.Prizes)
                                                            
                                                        </div>
                                                        
                                                    </div>
                                                    <div _ngcontent-serverapp-c200=""  class="bg-white mt-2 p-4 lg:mt-4 lg:p-6 lg:rounded-lg ng-star-inserted"  style="">
                                                        <div _ngcontent-serverapp-c200="" class="flex items-center">
                                                            <h2 _ngcontent-serverapp-c200=""
                                                                class="text-lg font-medium">Đánh giá</h2>
                                                        </div>
                                                        @foreach(var item in ratings.Items){
                                                            <div class="shopee-product-rating">
                                                                <a class="shopee-product-rating__avatar" >
                                                                    <div class="shopee-avatar">
                                                                        <div _ngcontent-serverapp-c292="" class="relative ng-tns-c292-114">
                                                                            <img _ngcontent-serverapp-c292="" alt="Primary"
                                                                                class="ng-tns-c292-114" src="/img/booking/svg/Family-Block.svg">
                                                                            <div _ngcontent-serverapp-c292="" class="absolute inset-0 flex items-center justify-center ng-tns-c292-114">
                                                                                <span _ngcontent-serverapp-c292=""
                                                                                    class="mt-1 absolute z-10 w-8 h-8 rounded-full bg-gradient-to-r from-[#22d3ee] to-[#0ea5e9] ng-tns-c292-114"></span>
                                                                                <div _ngcontent-serverapp-c292=""
                                                                                    class="mt-1 absolute z-20 text-sm text-white font-bold ng-tns-c292-114 ng-star-inserted">
                                                                                      @{
                                                                                          var  name = item.Patient.Name.Split(" ");
                                                                                        } @name[name.Length-1].Substring(0,2) </div>
       
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                                <div class="shopee-product-rating__main"><a class="shopee-product-rating__author-name" >@item.Patient.Name</a>
                                                                    <div class="repeat-purchase-con">
                                                                        <div class="shopee-product-rating__rating">
                                                                         @for(int r = 0; r <= 4;r++){
                                                                            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"
                                                                                class="shopee-svg-icon @(r<item.Rate.Rating?"icon-rating-solid--active icon-rating-solid":"icon-rating")  ">
                                                                                <polygon @(r<item.Rate.Rating?"":"fill=none") points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4"
                                                                                    stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon>
                                                                            </svg>

                                                                        }
                                                                        </div>
                                                                    </div>
                                                                    <div class="shopee-product-rating__time">@item.Rate.CreatedAt.ToString("dd/MM/yyyy HH:mm") </div>
                                                                    <div class="Em3Qhp">@item.Rate.Description </div>
                                                                    <div class="shopee-product-rating__tags" >
                                                                      @{string[] title = item.Rate.Title.Split("-");}
                                                                        @for(int t =0; t < title.Length;t++){
                                                                            <div class="shopee-product-rating__tag">@title[t]</div>
                                                                        }
                                                                    </div>
                                                                
                                                                
                                                                </div>
                                                            </div>

                                                        }
                                                        <div class="pagination-wrapper">
                                                                        @await Component.InvokeAsync("Pager", ratings)
                        
                                                                    </div>
                                                    </div>
                                                </div>
                                                <div nz-tab-body="" id="any-tab-post" class="ant-tabs-tabpane ng-star-inserted @(check?"ant-tabs-tabpane-active":"hiden") ant-tabs-tabpane-active" tabindex="0" aria-hidden="false">
                                                    <div _ngcontent-serverapp-c213="" class="bg-white p-4 lg:p-6 lg:rounded-b lg:rounded-tr-lg ng-star-inserted">
                                                        @if(posts.Items.Count()!=0){
                                                            <div class="archive-grid">
                                                                <div class="list-article">
                                                                    @foreach(var item in posts.Items.Where(x=>x.Status == Status.Active))
                                                                    {
                                                                        <article id="post-225657" class="block-card block-quare">
                                                                            <a asp-action="DetailtPost" asp-controller="Post" asp-route-id="@item.Id"
                                                                                title="@item.Title"
                                                                                data-wpel-link="internal">
                                                                                <picture class="card-image img-fluid wp-post-image">
                                                                                    <source type="image/webp"
                                                                                        srcset="@(Configuration["BaseAddress"] + "/img/" + item.Image) 1200w, @(Configuration["BaseAddress"] + "/img/" + item.Image) 300w, @(Configuration["BaseAddress"] + "/img/" + item.Image) 1024w, @(Configuration["BaseAddress"] + "/img/" + item.Image) 768w"
                                                                                        sizes="(max-width: 1200px) 100vw, 1200px">
                                                                                    <img width="1200" height="627"
                                                                                        src="@(Configuration["BaseAddress"] + "/img/" + item.Image)"
                                                                                        alt="tẩy nốt ruồi" sizes="(max-width: 1200px) 100vw, 1200px"
                                                                                        srcset="@(Configuration["BaseAddress"] + "/img/" + item.Image) 1200w, @(Configuration["BaseAddress"] + "/img/" + item.Image) 300w, @(Configuration["BaseAddress"] + "/img/" + item.Image) 1024w, @(Configuration["BaseAddress"] + "/img/" + item.Image) 768w"
                                                                                        class="lazyloaded" data-ll-status="loaded">
                                                                                </picture>
                                                                                <noscript>
                                                                                    <picture class="card-image img-fluid wp-post-image">
                                                                                        <source type="image/webp"
                                                                                            srcset="@(Configuration["BaseAddress"] + "/img/" + item.Image) 1200w, @(Configuration["BaseAddress"] + "/img/" + item.Image) 300w, @(Configuration["BaseAddress"] + "/img/" + item.Image) 1024w, @(Configuration["BaseAddress"] + "/img/" + item.Image) 768w"
                                                                                            sizes="(max-width: 1200px) 100vw, 1200px" />
                                                                                        <img width="1200" height="627"
                                                                                            src="@(Configuration["BaseAddress"] + "/img/" + item.Image)"
                                                                                            alt="tẩy nốt ruồi"
                                                                                            srcset="@(Configuration["BaseAddress"] + "/img/" + item.Image) 1200w, @(Configuration["BaseAddress"] + "/img/" + item.Image) 300w, @(Configuration["BaseAddress"] + "/img/" + item.Image) 1024w, @(Configuration["BaseAddress"] + "/img/" + item.Image) 768w"
                                                                                            sizes="(max-width: 1200px) 100vw, 1200px" />
                                                                                    </picture>
                                                                                </noscript>
                                                                            </a>
                                                                            <div class="block-card-body">
                                                                                <h2 class="post-title"><a class="line-clamp-2 font-serif"
                                                                                        asp-action="DetailtPost" asp-controller="Post" asp-route-id="@item.Id" data-wpel-link="internal">@item.Title</a></h2>
                                                                                <div class="post-excerpt line-clamp-2 entry-content">
                                                                                    @Html.Raw(item.Content)
                                                                                </div><!-- .entry-content -->
                                                                                <div class="article-author"><a class="url fn n"
                                                                                         asp-action="Index" asp-controller="Doctor" asp-route-id="@item.Doctors.UserId"
                                                                                        data-wpel-link="internal"><span class="author vcard">@(item.Doctors.LastName+" "+item.Doctors.FirstName)</span></a></div>
                                                                            </div>
                                                                        </article>
                        
                                                                    }
                    
                                                                    <div class="pagination-wrapper">
                                                                        @await Component.InvokeAsync("Pager", posts)
                        
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }else{
                                                            <div _ngcontent-serverapp-c213="" class="flex items-center flex-col p-6">
                                                                <p _ngcontent-serverapp-c213="" class="text-center mb-4">Bác sĩ tạm thời chưa có bài viết nào.</p><a
                                                                    _ngcontent-serverapp-c213="" asp-action="Post" asp-controller="Home" target="_blank" class="btn-primary">Xem
                                                                    tất cả các bài viết</a>
                                                            </div>

                                                        }
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </nz-tabset>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
</ng-component>
@section Alert{
    <div class="cdk-global-overlay-wrapper" dir="ltr">
      @if (TempData["AlertMessage"] != null)
      {
          <div id="cdk-overlay-9" class="cdk-overlay-pane" style="z-index: 1010; position: static;">
            <nz-message-container>
              <div class="ant-message" style="top: 24px;">
                <nz-message class="ng-tns-c43-75 ng-star-inserted">
                  <div class="ant-message-notice ng-tns-c43-75 ng-trigger ng-trigger-moveUpMotion">
                    <div class="ant-message-notice-content ng-tns-c43-75">
                      <div class="ant-message-custom-content ng-tns-c43-75 ant-message-@TempData["AlertType"]">
                          @if(TempData["AlertType"]=="success"){

                              <i nz-icon="" nztype="check-circle" class="anticon ng-tns-c43-75 anticon-check-circle ng-star-inserted" style="">
                                <svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1em" height="1em"
                                    class="ng-tns-c43-75" data-icon="check-circle" aria-hidden="true">
                                    <path
                                      d="M699 353h-46.9c-10.2 0-19.9 4.9-25.9 13.3L469 584.3l-71.2-98.8c-6-8.3-15.6-13.3-25.9-13.3H325c-6.5 0-10.3 7.4-6.5 12.7l124.6 172.8a31.8 31.8 0 0051.7 0l210.6-292c3.9-5.3.1-12.7-6.4-12.7z">
                                    </path>
                                    <path
                                      d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z">
                                    </path>
                                </svg>
                              </i>
                          }else{
                             <i nz-icon="" nztype="close-circle"
                                class="anticon ng-tns-c43-5 anticon-close-circle ng-star-inserted" style=""><svg
                                    viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1em"
                                    height="1em" class="ng-tns-c43-5" data-icon="close-circle"
                                    aria-hidden="true">
                                    <path
                                        d="M685.4 354.8c0-4.4-3.6-8-8-8l-66 .3L512 465.6l-99.3-118.4-66.1-.3c-4.4 0-8 3.5-8 8 0 1.9.7 3.7 1.9 5.2l130.1 155L340.5 670a8.32 8.32 0 00-1.9 5.2c0 4.4 3.6 8 8 8l66.1-.3L512 564.4l99.3 118.4 66 .3c4.4 0 8-3.5 8-8 0-1.9-.7-3.7-1.9-5.2L553.5 515l130.1-155c1.2-1.4 1.8-3.3 1.8-5.2z">
                                    </path>
                                    <path
                                        d="M512 65C264.6 65 64 265.6 64 513s200.6 448 448 448 448-200.6 448-448S759.4 65 512 65zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z">
                                    </path>
                                </svg>
                             </i>

                          }
                        <span class="ng-tns-c43-75 ng-star-inserted" style="">@TempData["AlertMessage"]</span>
                      </div>
                    </div>
                  </div>
                </nz-message>
              </div>
            </nz-message-container>
          </div>
            
      } 
    </div>
    
}
@section JavaScript{
    <script>
        function tabinfo(){
             $('#any-tab-info').removeClass('hiden');
            $('#any-tab-post').addClass('hiden');
            $('#tab-info').addClass('ant-tabs-tab-active');
            $('#tab-post').removeClass('ant-tabs-tab-active');
            $('#any-tab-info').addClass('ant-tabs-tabpane-active');
            $('#any-tab-post').removeClass('ant-tabs-tabpane-active');
        }
        function tabpost(){
            $('#any-tab-info').addClass('hiden');
            $('#any-tab-post').removeClass('hiden');
           
            $('#tab-info').removeClass('ant-tabs-tab-active');
            $('#tab-post').addClass('ant-tabs-tab-active');
            $('#any-tab-info').removeClass('ant-tabs-tabpane-active');
            $('#any-tab-post').addClass('ant-tabs-tabpane-active');
        }
        function tabchoseday(i){
            $('.check-tab').removeClass('ant-tabs-tabpane-active');
            $('.check-tabs').removeClass('ant-tabs-tab-active');
            $('.check-tab').addClass('hiden');
            $('#tabday_'+i).addClass('ant-tabs-tab-active');
            var left = (i-1)*122;
            $('#choseslotday_'+i).addClass('ant-tabs-tabpane-active');
            $('#choseslotday_'+i).removeClass('hiden');
            $('.ant-tabs-ink-bar').css("left", left+"px")
        }
    </script>
     <script id="rendered-js">
        const scrollContainer = document.querySelector("div.container");

        scrollContainer.addEventListener("wheel", evt => {
            evt.preventDefault();
            scrollContainer.scrollLeft += evt.deltaY;
        });
              //# sourceURL=pen.js
    </script>
}

