@using DoctorManagement.Data.Enums
@using DoctorManagement.ViewModels.Common;
@using DoctorManagement.ViewModels.Catalog.Clinic
@model DoctorManagement.ViewModels.Catalog.Clinic.ClinicVm

@{
	ViewData["Title"] = "Detailt";
	Layout = "~/Views/Shared/_Layout.cshtml";
	List<ImageClinicVm> images = ViewBag.Imgs;
	var i = 0;
}
<link rel="stylesheet" href="https://fonticons-free-fonticons.netdna-ssl.com/kits/1ce05b4b/publications/118813/woff2.css" media="all">
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

@section Header{
<ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
	<li class="breadcrumb-item text-sm">
		<a class="opacity-3 text-dark" href="javascript:;">
			<svg width="12px" height="12px" class="mb-1" viewBox="0 0 45 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<title>Bác Sĩ </title>
				<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<g transform="translate(-1716.000000, -439.000000)" fill="#252f40" fill-rule="nonzero">
						<g transform="translate(1716.000000, 291.000000)">
							<g transform="translate(0.000000, 148.000000)">
								<path d="M46.7199583,10.7414583 L40.8449583,0.949791667 C40.4909749,0.360605034 39.8540131,0 39.1666667,0 L7.83333333,0 C7.1459869,0 6.50902508,0.360605034 6.15504167,0.949791667 L0.280041667,10.7414583 C0.0969176761,11.0460037 -1.23209662e-05,11.3946378 -1.23209662e-05,11.75 C-0.00758042603,16.0663731 3.48367543,19.5725301 7.80004167,19.5833333 L7.81570833,19.5833333 C9.75003686,19.5882688 11.6168794,18.8726691 13.0522917,17.5760417 C16.0171492,20.2556967 20.5292675,20.2556967 23.494125,17.5760417 C26.4604562,20.2616016 30.9794188,20.2616016 33.94575,17.5760417 C36.2421905,19.6477597 39.5441143,20.1708521 42.3684437,18.9103691 C45.1927731,17.649886 47.0084685,14.8428276 47.0000295,11.75 C47.0000295,11.3946378 46.9030823,11.0460037 46.7199583,10.7414583 Z"></path>
								<path d="M39.198,22.4912623 C37.3776246,22.4928106 35.5817531,22.0149171 33.951625,21.0951667 L33.92225,21.1107282 C31.1430221,22.6838032 27.9255001,22.9318916 24.9844167,21.7998837 C24.4750389,21.605469 23.9777983,21.3722567 23.4960833,21.1018359 L23.4745417,21.1129513 C20.6961809,22.6871153 17.4786145,22.9344611 14.5386667,21.7998837 C14.029926,21.6054643 13.533337,21.3722507 13.0522917,21.1018359 C11.4250962,22.0190609 9.63246555,22.4947009 7.81570833,22.4912623 C7.16510551,22.4842162 6.51607673,22.4173045 5.875,22.2911849 L5.875,44.7220845 C5.875,45.9498589 6.7517757,46.9451667 7.83333333,46.9451667 L19.5833333,46.9451667 L19.5833333,33.6066734 L27.4166667,33.6066734 L27.4166667,46.9451667 L39.1666667,46.9451667 C40.2482243,46.9451667 41.125,45.9498589 41.125,44.7220845 L41.125,22.2822926 C40.4887822,22.4116582 39.8442868,22.4815492 39.198,22.4912623 Z"></path>
							</g>
						</g>
					</g>
				</g>
			</svg>
		</a>
	</li>
	<li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" asp-action="Index">Quản lý phòng khám</a></li>
	<li class="breadcrumb-item text-sm text-dark active" aria-current="page">Chi tiết phòng khám</li>
</ol>
<h6 class="font-weight-bolder mb-0">Chi tiết phòng khám, các bác sĩ chuyên khoa liên quan</h6>
}
@section Search{
<form asp-action="Index" method="get">
	<div class="input-group">
		<button type="submit" class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></button>
		<input name="keyword" type="text" class="form-control" placeholder="Type here..." value="@ViewBag.Keyword">
	</div>
</form>
}
<div class="container-fluid py-4">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<h5 class="mb-4">Chi tiết phòng khám</h5>
					<div class="row">
						<div class="col-xl-5 col-lg-6 text-center">
							<img class="w-100 border-radius-lgshadow-lg mx-auto"  src="@(Configuration["BaseAddress"] + "/img/" + ViewBag.Img)" alt="chair">
							<div class="my-gallery d-flex mt-4 pt-2" style ="overflow: hidden;" itemscope itemtype="http://schema.org/ImageGallery">
							@foreach (var img in images)
							{
								<figure class="me-sm-2 min-height-100 max-height-100 border-radius-lg" style ="overflow: hidden;" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
									<a href="@(Configuration["BaseAddress"] + "/img/" + img.Img)" itemprop="contentUrl" data-size="500x500">
										<img class="   shadow " style="width: 100px;" src="@(Configuration["BaseAddress"] + "/img/" + img.Img)" alt="Image description" />
									</a>
								</figure>
								
							}


						</div>
						<!-- Root element of PhotoSwipe. Must have class pswp. -->
						<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
							<!-- Background of PhotoSwipe.
							It's a separate element, as animating opacity is faster than rgba(). -->
							<div class="pswp__bg"></div>
							<!-- Slides wrapper with overflow:hidden. -->
							<div class="pswp__scroll-wrap">
								<!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
								<!-- don't modify these 3 pswp__item elements, data is added later on. -->
								<div class="pswp__container">
									<div class="pswp__item"></div>
									<div class="pswp__item"></div>
									<div class="pswp__item"></div>
								</div>
								<!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
								<div class="pswp__ui pswp__ui--hidden">
									<div class="pswp__top-bar">
										<!--  Controls are self-explanatory. Order can be changed. -->
										<div class="pswp__counter"></div>
										<button class="btn btn-white btn-sm pswp__button pswp__button--close">Close (Esc)</button>
										<button class="btn btn-white btn-sm pswp__button pswp__button--fs">Fullscreen</button>
										<button class="btn btn-white btn-sm pswp__button pswp__button--arrow--left">
											Prev
										</button>
										<button class="btn btn-white btn-sm pswp__button pswp__button--arrow--right">
											Next
										</button>
										<!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
										<!-- element will get class pswp__preloader--active when preloader is running -->
										<div class="pswp__preloader">
											<div class="pswp__preloader__icn">
												<div class="pswp__preloader__cut">
													<div class="pswp__preloader__donut"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
										<div class="pswp__share-tooltip"></div>
									</div>
									<div class="pswp__caption">
										<div class="pswp__caption__center"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 mx-auto">
						<h3 class="mt-lg-0 mt-4">@Model.Name</h3>
						<div class="rating">
							<i class="fas fa-star" aria-hidden="true"></i>
							<i class="fas fa-star" aria-hidden="true"></i>
							<i class="fas fa-star" aria-hidden="true"></i>
							<i class="fas fa-star" aria-hidden="true"></i>
							<i class="fas fa-star-half-alt" aria-hidden="true"></i>
						</div>
						<br>
						
						<span class="badge   @(Model.Status == Status.Active ? "badge-success" : Model.Status == Status.InActive ? "badge-danger": "badge-warning ")">
							@(Model.Status == Status.Active ? "Đang hoạt động" : Model.Status == Status.InActive ? "Tạp dừng hoạt động": "Ngừng hoạt động")
						</span>
						<br>
						<label class="mt-4">Mô tả</label>
						<p class="form-control">
									@Model.Description
						</p>
						
						<div class="row mt-4">
							<div class="col-lg-12 mt-lg-0 mt-2">
								<label>Địa chỉ</label>
								<p class="form-control">
									@Model.Address
								</p>
							</div>
							
						</div>
						<div class="row mt-4">
							<div class="col-lg-5">
								<a class="btn bg-gradient-primary mb-0 mt-lg-auto w-100" asp-action="Update" asp-route-id="@Model.Id">chỉnh sửa</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-12">
						<h5 class="ms-3">Bác sĩ liên quan</h5>
						<div class="table table-responsive">
							<table class="table align-items-center mb-0">
								<thead>
									<tr>
										<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Bác sĩ</th>
										<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">E-mail</th>
										<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Điện thoại</th>
										<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Đánh giá</th>
										<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Availability</th>
										<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Id</th>
									</tr>
								</thead>
								<tbody>
										@if(Model.DoctorVms != null)
										{
											foreach(var item in Model.DoctorVms)
											{
											<tr>
												<td>
													<div class="d-flex px-2 py-1">
														<div>
															<img class="avatar avatar-md me-3" src="@(Configuration["BaseAddress"] + "/img/" + item.Img)" alt="table image">
														</div>
														<div class="d-flex flex-column justify-content-center">
															<h6 class="mb-0 text-sm">@item.User.Name</h6>
														</div>
													</div>
												</td>
												<td>
													<p class="text-sm text-secondary mb-0">@item.User.Email</p>
												</td>
													<td>
													<p class="text-sm text-secondary mb-0">@item.User.PhoneNumber</p>
												</td>
												<td>
														@{
															var count = item.Rates.Count;
															var rating = item.Rates.Sum(x => x.Rating);
															var rate = 0;
															if (count > 0)
															{
																rate = rating / count;
															}
														}
													<div class="rating ms-lg-n4">
															@for(var star = 1; star <=5; star++)
															{
																if(star+0.5<= rate){ 
																	<i class="fas fa-star" aria-hidden="true"></i>
																}else if(star<= rate){ 
																	<i class="fas fa-star-half-alt" aria-hidden="true"></i>
																}
																else
																{
																	<i class="fa fa-star-o" aria-hidden="true"></i>
																}
															}
														
													</div>
												</td>
												<td class="align-middle text-sm">
													<div class="progress mx-auto">
														<div class="progress-bar bg-gradient-success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</td>
												<td class="align-middle text-center">
													<span class="text-secondary text-sm">@item.No</span>
												</td>
											</tr>
											}
										}
										
									
								
									<tr>
										<td>
											<div class="d-flex px-2 py-1">
												<div>
													<img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/chair-wood.jpg" class="avatar avatar-md me-3" alt="table image">
												</div>
												<div class="d-flex flex-column justify-content-center">
													<h6 class="mb-0 text-sm">Modern Square</h6>
												</div>
											</div>
										</td>
										<td>
											<p class="text-sm text-secondary mb-0">$59.99</p>
										</td>
										<td>
											<div class="rating ms-lg-n4">
												<i class="fas fa-star" aria-hidden="true"></i>
												<i class="fas fa-star" aria-hidden="true"></i>
												<i class="fas fa-star" aria-hidden="true"></i>
												<i class="fas fa-star" aria-hidden="true"></i>
												<i class="fas fa-star-half-alt" aria-hidden="true"></i>
											</div>
										</td>
										<td class="align-middle text-sm">
											<div class="progress mx-auto">
												<div class="progress-bar bg-gradient-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</td>
										<td class="align-middle text-center">
											<span class="text-secondary text-sm">001992</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer class="footer pt-3  ">
	<div class="container-fluid">
		<div class="row align-items-center justify-content-lg-between">
			<div class="col-lg-6 mb-lg-0 mb-4">
				<div class="copyright text-center text-sm text-muted text-lg-start">
					© <script>
					 document.write(new Date().getFullYear())
					</script>,
					made with <i class="fa fa-heart"></i> by
					<a href="https://www.creative-tim.com" class="font-weight-bold" target="_blank">Creative Tim</a>
					for a better web.
				</div>
			</div>
			<div class="col-lg-6">
				<ul class="nav nav-footer justify-content-center justify-content-lg-end">
					<li class="nav-item">
						<a href="https://www.creative-tim.com" class="nav-link text-muted" target="_blank">Creative Tim</a>
					</li>
					<li class="nav-item">
						<a href="https://www.creative-tim.com/presentation" class="nav-link text-muted" target="_blank">About Us</a>
					</li>
					<li class="nav-item">
						<a href="https://creative-tim.com/blog" class="nav-link text-muted" target="_blank">Blog</a>
					</li>
					<li class="nav-item">
						<a href="https://www.creative-tim.com/license" class="nav-link pe-0 text-muted" target="_blank">License</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
</div>
@section jsFooter{

<script src="~/js/plugins/photoswipe.min.js"></script>
<script src="~/js/plugins/photoswipe-ui-default.min.js"></script>


<script>
	if (document.getElementById('choices-quantity')) {
	  var element = document.getElementById('choices-quantity');
	  const example = new Choices(element, {
		searchEnabled: false,
		itemSelectText: ''
	  });
	};

	if (document.getElementById('choices-material')) {
	  var element = document.getElementById('choices-material');
	  const example = new Choices(element, {
		searchEnabled: false,
		itemSelectText: ''
	  });
	};

	if (document.getElementById('choices-colors')) {
	  var element = document.getElementById('choices-colors');
	  const example = new Choices(element, {
		searchEnabled: false,
		itemSelectText: ''
	  });
	};

	// Gallery Carousel
	if (document.getElementById('products-carousel')) {
	  var myCarousel = document.querySelector('#products-carousel')
	  var carousel = new bootstrap.Carousel(myCarousel)
	}


	// Products gallery

	var initPhotoSwipeFromDOM = function(gallerySelector) {

	  // parse slide data (url, title, size ...) from DOM elements
	  // (children of gallerySelector)
	  var parseThumbnailElements = function(el) {
		var thumbElements = el.childNodes,
		  numNodes = thumbElements.length,
		  items = [],
		  figureEl,
		  linkEl,
		  size,
		  item;

		for (var i = 0; i < numNodes; i++) {

		  figureEl = thumbElements[i]; // <figure> element
		  // include only element nodes
		  if (figureEl.nodeType !== 1) {
			continue;
		  }

		  linkEl = figureEl.children[0]; // <a> element

		  size = linkEl.getAttribute('data-size').split('x');

		  // create slide object
		  item = {
			src: linkEl.getAttribute('href'),
			w: parseInt(size[0], 10),
			h: parseInt(size[1], 10)
		  };

		  if (figureEl.children.length > 1) {
			// <figcaption> content
			item.title = figureEl.children[1].innerHTML;
		  }

		  if (linkEl.children.length > 0) {
			// <img> thumbnail element, retrieving thumbnail url
			item.msrc = linkEl.children[0].getAttribute('src');
		  }

		  item.el = figureEl; // save link to element for getThumbBoundsFn
		  items.push(item);
		}

		return items;
	  };

	  // find nearest parent element
	  var closest = function closest(el, fn) {
		return el && (fn(el) ? el : closest(el.parentNode, fn));
	  };

	  // triggers when user clicks on thumbnail
	  var onThumbnailsClick = function(e) {
		e = e || window.event;
		e.preventDefault ? e.preventDefault() : e.returnValue = false;

		var eTarget = e.target || e.srcElement;

		// find root element of slide
		var clickedListItem = closest(eTarget, function(el) {
		  return (el.tagName && el.tagName.toUpperCase() === 'FIGURE');
		});

		if (!clickedListItem) {
		  return;
		}

		// find index of clicked item by looping through all child nodes
		// alternatively, you may define index via data- attribute
		var clickedGallery = clickedListItem.parentNode,
		  childNodes = clickedListItem.parentNode.childNodes,
		  numChildNodes = childNodes.length,
		  nodeIndex = 0,
		  index;

		for (var i = 0; i < numChildNodes; i++) {
		  if (childNodes[i].nodeType !== 1) {
			continue;
		  }

		  if (childNodes[i] === clickedListItem) {
			index = nodeIndex;
			break;
		  }
		  nodeIndex++;
		}



		if (index >= 0) {
		  // open PhotoSwipe if valid index found
		  openPhotoSwipe(index, clickedGallery);
		}
		return false;
	  };

	  // parse picture index and gallery index from URL (#&pid=1&gid=2)
	  var photoswipeParseHash = function() {
		var hash = window.location.hash.substring(1),
		  params = {};

		if (hash.length < 5) {
		  return params;
		}

		var vars = hash.split('&');
		for (var i = 0; i < vars.length; i++) {
		  if (!vars[i]) {
			continue;
		  }
		  var pair = vars[i].split('=');
		  if (pair.length < 2) {
			continue;
		  }
		  params[pair[0]] = pair[1];
		}

		if (params.gid) {
		  params.gid = parseInt(params.gid, 10);
		}

		return params;
	  };

	  var openPhotoSwipe = function(index, galleryElement, disableAnimation, fromURL) {
		var pswpElement = document.querySelectorAll('.pswp')[0],
		  gallery,
		  options,
		  items;

		items = parseThumbnailElements(galleryElement);

		// define options (if needed)
		options = {

		  // define gallery index (for URL)
		  galleryUID: galleryElement.getAttribute('data-pswp-uid'),

		  getThumbBoundsFn: function(index) {
			// See Options -> getThumbBoundsFn section of documentation for more info
			var thumbnail = items[index].el.getElementsByTagName('img')[0], // find thumbnail
			  pageYScroll = window.pageYOffset || document.documentElement.scrollTop,
			  rect = thumbnail.getBoundingClientRect();

			return {
			  x: rect.left,
			  y: rect.top + pageYScroll,
			  w: rect.width
			};
		  }

		};

		// PhotoSwipe opened from URL
		if (fromURL) {
		  if (options.galleryPIDs) {
			// parse real index when custom PIDs are used
			// http://photoswipe.com/documentation/faq.html#custom-pid-in-url
			for (var j = 0; j < items.length; j++) {
			  if (items[j].pid == index) {
				options.index = j;
				break;
			  }
			}
		  } else {
			// in URL indexes start from 1
			options.index = parseInt(index, 10) - 1;
		  }
		} else {
		  options.index = parseInt(index, 10);
		}

		// exit if index not found
		if (isNaN(options.index)) {
		  return;
		}

		if (disableAnimation) {
		  options.showAnimationDuration = 0;
		}

		// Pass data to PhotoSwipe and initialize it
		gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
		gallery.init();
	  };

	  // loop through all gallery elements and bind events
	  var galleryElements = document.querySelectorAll(gallerySelector);

	  for (var i = 0, l = galleryElements.length; i < l; i++) {
		galleryElements[i].setAttribute('data-pswp-uid', i + 1);
		galleryElements[i].onclick = onThumbnailsClick;
	  }

	  // Parse URL and open gallery if it contains #&pid=3&gid=1
	  var hashData = photoswipeParseHash();
	  if (hashData.pid && hashData.gid) {
		openPhotoSwipe(hashData.pid, galleryElements[hashData.gid - 1], true, true);
	  }
	};

	// execute above function
	initPhotoSwipeFromDOM('.my-gallery');
</script>
<!-- Kanban scripts -->
<script src="~/js/plugins/dragula/dragula.min.js"></script>
<script src="~/js/plugins/jkanban/jkanban.js"></script>

<script>

	var menu_bd = document.getElementById("menu_clinic");
        menu_bd.classList.add("active");
        menu_bd.classList.remove("collapsed");
        var a_xbd = document.getElementById("a_clinic");
        a_xbd.classList.add("active");
        var usersExample = document.getElementById("manageclinic");
        usersExample.classList.add("show");
</script>
}

